<?xml version='1.0' encoding='utf-8'?>
<widget id="com.crosswordsarena" version="2.0.2" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Crosswords Arena</name>
    <description>Free word game for two players. Play online against friends or the computer.</description>
    <author email="matthias@klein.pw" href="http://matthiasklein.me">Matthias Klein</author>
    <preference name="permissions" value="none"/>
    <gap:plugin name="org.apache.cordova.media" />
    <gap:plugin name="cordova-plugin-inappbrowser" source="npm" />
    <gap:plugin name="cordova-plugin-whitelist" source="npm" version="1" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="mailto:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <feature name="http://api.phonegap.com/1.0/media" />
    <engine name="android" spec="^4.0.2" />
</widget>
