body
  background: black
  color: white

.hide
  display: none !important
  
.page
  bottom: 0
  left: 0
  position: absolute
  right: 0
  top: 0

.squares
  display: flex
  flex-wrap: wrap
  line-height: 40px
  height: 600px
  width: 600px

.square
  background: #181818
  display: inline-block
  height: 40px
  position: relative
  width: 40px

.bonus
  bottom: 0
  left: 0
  position: absolute
  right: 0
  top: 0

.tile
  background: #282828
  bottom: 0
  left: 0
  position: absolute
  right: 0
  top: 0

.cursor
  background: red
  color: white
  height: 40px
  left: 0
  position: absolute
  top: 0
  transition: transform 0.2s
  width: 40px

  