@import nib

color-text = white
color-secondary-text = alpha(white, 0.7)
color-disabled = alpha(white, 0.3)
color-divider = #333

html
  overflow: auto
  background: #161616

body
  cursor: auto
  display: block
  font-size: 14px
  height: auto
  margin: 0 auto
  max-width: 85vw
  width: auto
  padding-top: 40px
  user-select: auto

form
  display: flex
  margin-top: 20px
  .button
    margin-left: 10px
    flex: 0 0 auto

tr
  border-bottom: 1px solid #333
td, th
  padding: 10px
  &.table-cell-shrink
    width: 1px
th
  color: #888
  font-weight: normal
  padding: 5px 10px
  text-align: left
  text-transform: uppercase

#monitor-clients
  margin-bottom: 40px
  h2
    margin-top: 0
    margin-bottom: 20px
  table
    width: 100%
  
.monitor-game
  margin-bottom: 40px  
  table
    width: 100%
.monitor-game-content
  display: flex

.monitor-game-board
  flex: 0 0 auto
  padding: 0.75em
  user-select: none
  cursor: default

.monitor-game-details
  flex: 1 1 auto
  margin-left: 20px

.monitor-actions
  display: flex
  list-style-type: none
  margin: 0
  padding: 0
  text-align: right
  li
    margin-right: 10px
    &:last-child
      margin-right: 0
  .button
    display: block
    text-decoration: none

@media (max-width: 1200px)
  body
    max-width: none
    padding-left: 20px
    padding-right: 20px