@import 'nib'
@font-face
  font-family: 'Segoe UI'
  font-weight: 200
  src: local('Segoe UI Light')
@font-face
  font-family: 'Segoe UI'
  font-weight: 300
  src: local('Segoe UI Semilight')
@font-face
  font-family: 'Segoe UI'
  font-weight: 400
  src: local('Segoe UI')
@font-face
  font-family: 'Segoe UI'
  font-weight: 600
  src: local('Segoe UI Semibold')
@font-face
  font-family: 'Segoe UI'
  font-weight: 700
  src: local('Segoe UI Bold')
@font-face
  font-family: 'Segoe UI'
  font-style: italic
  font-weight: 400
  src: local('Segoe UI Italic')
@font-face
  font-family: 'Segoe UI'
  font-style: italic
  font-weight: 700
  src: local('Segoe UI Bold Italic')
@font-face
  font-family: 'WeblySleek UI'
  font-weight: 200
  src: url('/fonts/weblysleekuil.ttf')
@font-face
  font-family: 'WeblySleek UI'
  font-weight: 300
  src: url('/fonts/weblysleekuisl.ttf')
@font-face
  font-family: 'WeblySleek UI'
  font-weight: 600
  src: url('/fonts/weblysleekuisb.ttf')
*
  box-sizing: border-box
html
  height: 100%
body
  position: relative
  background: black
  background: url('/images/background.png')
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.75)), url('/images/background.png')
  font-family: 'WeblySleek UI', 'Segoe UI', Arial, sans-serif
  font-size: 14px
  color: #eee
  max-width: 720px
  margin: 0 auto
  height: 100%
#content
  background: url('/images/irongrip_brown.png')
  padding: 2em
  min-height: 100%
  box-shadow: 0 0 1em black
  border-left: 1px solid rgba(255,255,255,0.1)
  border-right: 1px solid rgba(255,255,255,0.1)
h1
  font-size: 30px
  font-weight: normal
  margin-bottom: 20px
  margin-top: 0
a
  color: tint(dodgerblue, 40%)
  text-decoration: none
  &:hover
    text-decoration: underline
p
  margin: 20px 0
form
  margin-top: 2em
input[type='text']
input[type='email']
textarea
  background: white
  border: none
  color: black
  display: block
  font-family: inherit
  font-size: 100%
  font-weight: normal
  margin: 10px 0
  padding: 5px
  width: 100%
textarea
  resize: vertical
  min-height: 10em
  overflow: auto
#buttons
  text-align: right
  margin-top: 20px
input[type='submit']
input[type='reset']
button
  background: #da3610
  background: linear-gradient(#f1846b,#da3610,#da3610)
  border: none
  color: white
  font-family: inherit
  font-size: inherit
  font-weight: normal
  margin: 0
  margin-left: 10px
  padding: 5px 10px
  position: relative
  &:hover
    background: tint(#da3610, 40%)
  &:active
    background: shade(#da3610, 25%)
  &:disabled
    background: grey !important
    color: darkgrey !important
  &::-moz-focus-inner // Remove button padding for Firefox
    border: 0
    padding: 0
#footer
  border-top: 1px solid rgba(255,255,255,0.1)
  margin-top: 20px
#sounds-copyright
  width: 100%
  td
    padding: 0
#back
  float: right
  margin-left: 10px
  margin-top: 0
