@import 'normalize'
@import 'colors'
@import 'nib'

/* Transitions and Animations
 * -----------------------------------------------
 *
 *
 * Animations should be fast. Our standard animation duration is 0.2s.
 */

/* Z-Indexes
 * -----------------------------------------------
 * 
 * .rack .tile 10
 * .rack .tile.dragging or :hover 11
 * .cursor 12
 * .unit-frame 20
 * #opponent-chat 20
 * #remaining 20 // mobile: 21
 * #app-bar auto, 20 (desktop)
 * .game-message 30
 * #rotate-screen 40
 * #pass-overlay 40/  / desktop: auto
 * #rules-overlay 41
 * #chat-overlay 42  // desktop: auto
 * #chat 43
 * #dust 50
 * #overlay 60
 * #menu-overlay
 * #menu 71
 * #update 99
 */


/* Fonts
-------------------------------------------------- */
/*@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans/Light/OpenSans-Light.eot?v=1.1.0");
  src: url("../fonts/OpenSans/Light/OpenSans-Light.eot?#iefix&v=1.1.0") format("embedded-opentype"), url("../fonts/OpenSans/Light/OpenSans-Light.woff2?v=1.1.0") format("woff2"), url("../fonts/OpenSans/Light/OpenSans-Light.woff?v=1.1.0") format("woff"), url("../fonts/OpenSans/Light/OpenSans-Light.ttf?v=1.1.0") format("truetype"), url("../fonts/OpenSans/Light/OpenSans-Light.svg?v=1.1.0#Light") format("svg");
  font-weight: 300;
  font-style: normal; }
@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans/LightItalic/OpenSans-LightItalic.eot?v=1.1.0");
  src: url("../fonts/OpenSans/LightItalic/OpenSans-LightItalic.eot?#iefix&v=1.1.0") format("embedded-opentype"), url("../fonts/OpenSans/LightItalic/OpenSans-LightItalic.woff2?v=1.1.0") format("woff2"), url("../fonts/OpenSans/LightItalic/OpenSans-LightItalic.woff?v=1.1.0") format("woff"), url("../fonts/OpenSans/LightItalic/OpenSans-LightItalic.ttf?v=1.1.0") format("truetype"), url("../fonts/OpenSans/LightItalic/OpenSans-LightItalic.svg?v=1.1.0#LightItalic") format("svg");
  font-weight: 300;
  font-style: italic; }*/
@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans/Regular/OpenSans-Regular.eot?v=1.1.0");
  src: url("../fonts/OpenSans/Regular/OpenSans-Regular.eot?#iefix&v=1.1.0") format("embedded-opentype"), url("../fonts/OpenSans/Regular/OpenSans-Regular.woff2?v=1.1.0") format("woff2"), url("../fonts/OpenSans/Regular/OpenSans-Regular.woff?v=1.1.0") format("woff"), url("../fonts/OpenSans/Regular/OpenSans-Regular.ttf?v=1.1.0") format("truetype"), url("../fonts/OpenSans/Regular/OpenSans-Regular.svg?v=1.1.0#Regular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans/Italic/OpenSans-Italic.eot?v=1.1.0");
  src: url("../fonts/OpenSans/Italic/OpenSans-Italic.eot?#iefix&v=1.1.0") format("embedded-opentype"), url("../fonts/OpenSans/Italic/OpenSans-Italic.woff2?v=1.1.0") format("woff2"), url("../fonts/OpenSans/Italic/OpenSans-Italic.woff?v=1.1.0") format("woff"), url("../fonts/OpenSans/Italic/OpenSans-Italic.ttf?v=1.1.0") format("truetype"), url("../fonts/OpenSans/Italic/OpenSans-Italic.svg?v=1.1.0#Italic") format("svg");
  font-weight: normal;
  font-style: italic; }
@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans/Semibold/OpenSans-Semibold.eot?v=1.1.0");
  src: url("../fonts/OpenSans/Semibold/OpenSans-Semibold.eot?#iefix&v=1.1.0") format("embedded-opentype"), url("../fonts/OpenSans/Semibold/OpenSans-Semibold.woff2?v=1.1.0") format("woff2"), url("../fonts/OpenSans/Semibold/OpenSans-Semibold.woff?v=1.1.0") format("woff"), url("../fonts/OpenSans/Semibold/OpenSans-Semibold.ttf?v=1.1.0") format("truetype"), url("../fonts/OpenSans/Semibold/OpenSans-Semibold.svg?v=1.1.0#Semibold") format("svg");
  font-weight: 600;
  font-style: normal; }
@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans/SemiboldItalic/OpenSans-SemiboldItalic.eot?v=1.1.0");
  src: url("../fonts/OpenSans/SemiboldItalic/OpenSans-SemiboldItalic.eot?#iefix&v=1.1.0") format("embedded-opentype"), url("../fonts/OpenSans/SemiboldItalic/OpenSans-SemiboldItalic.woff2?v=1.1.0") format("woff2"), url("../fonts/OpenSans/SemiboldItalic/OpenSans-SemiboldItalic.woff?v=1.1.0") format("woff"), url("../fonts/OpenSans/SemiboldItalic/OpenSans-SemiboldItalic.ttf?v=1.1.0") format("truetype"), url("../fonts/OpenSans/SemiboldItalic/OpenSans-SemiboldItalic.svg?v=1.1.0#SemiboldItalic") format("svg");
  font-weight: 600;
  font-style: italic; }
@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans/Bold/OpenSans-Bold.eot?v=1.1.0");
  src: url("../fonts/OpenSans/Bold/OpenSans-Bold.eot?#iefix&v=1.1.0") format("embedded-opentype"), url("../fonts/OpenSans/Bold/OpenSans-Bold.woff2?v=1.1.0") format("woff2"), url("../fonts/OpenSans/Bold/OpenSans-Bold.woff?v=1.1.0") format("woff"), url("../fonts/OpenSans/Bold/OpenSans-Bold.ttf?v=1.1.0") format("truetype"), url("../fonts/OpenSans/Bold/OpenSans-Bold.svg?v=1.1.0#Bold") format("svg");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans/BoldItalic/OpenSans-BoldItalic.eot?v=1.1.0");
  src: url("../fonts/OpenSans/BoldItalic/OpenSans-BoldItalic.eot?#iefix&v=1.1.0") format("embedded-opentype"), url("../fonts/OpenSans/BoldItalic/OpenSans-BoldItalic.woff2?v=1.1.0") format("woff2"), url("../fonts/OpenSans/BoldItalic/OpenSans-BoldItalic.woff?v=1.1.0") format("woff"), url("../fonts/OpenSans/BoldItalic/OpenSans-BoldItalic.ttf?v=1.1.0") format("truetype"), url("../fonts/OpenSans/BoldItalic/OpenSans-BoldItalic.svg?v=1.1.0#BoldItalic") format("svg");
  font-weight: bold;
  font-style: italic; }
@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans/ExtraBold/OpenSans-ExtraBold.eot?v=1.1.0");
  src: url("../fonts/OpenSans/ExtraBold/OpenSans-ExtraBold.eot?#iefix&v=1.1.0") format("embedded-opentype"), url("../fonts/OpenSans/ExtraBold/OpenSans-ExtraBold.woff2?v=1.1.0") format("woff2"), url("../fonts/OpenSans/ExtraBold/OpenSans-ExtraBold.woff?v=1.1.0") format("woff"), url("../fonts/OpenSans/ExtraBold/OpenSans-ExtraBold.ttf?v=1.1.0") format("truetype"), url("../fonts/OpenSans/ExtraBold/OpenSans-ExtraBold.svg?v=1.1.0#ExtraBold") format("svg");
  font-weight: 800;
  font-style: normal; }
@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans/ExtraBoldItalic/OpenSans-ExtraBoldItalic.eot?v=1.1.0");
  src: url("../fonts/OpenSans/ExtraBoldItalic/OpenSans-ExtraBoldItalic.eot?#iefix&v=1.1.0") format("embedded-opentype"), url("../fonts/OpenSans/ExtraBoldItalic/OpenSans-ExtraBoldItalic.woff2?v=1.1.0") format("woff2"), url("../fonts/OpenSans/ExtraBoldItalic/OpenSans-ExtraBoldItalic.woff?v=1.1.0") format("woff"), url("../fonts/OpenSans/ExtraBoldItalic/OpenSans-ExtraBoldItalic.ttf?v=1.1.0") format("truetype"), url("../fonts/OpenSans/ExtraBoldItalic/OpenSans-ExtraBoldItalic.svg?v=1.1.0#ExtraBoldItalic") format("svg");
  font-weight: 800;
  font-style: italic; }

/* Geometry
-------------------------------------------------- */
tile-size = 40px
rack-bottom-height = 10px
desktop-unit-frame-picture-size = 52px
desktop-unit-frame-picture-size = 46px
desktop-unit-frame-line-height = 28px
desktop-unit-frame-margin-vertical = (tile-size - desktop-unit-frame-line-height) * 0.5 + rack-bottom-height
desktop-unit-frame-margin-horizontal = desktop-unit-frame-margin-vertical - ((desktop-unit-frame-picture-size - desktop-unit-frame-line-height) * 0.5)

/* Colors
-------------------------------------------------- */
hue = 219
color-0 = hsl(hue, 100%, 50%)
color-1 = spin(color-0, 120deg)
color-2 = spin(color-0, 240deg)
color-3 = spin(color-0, 180deg)

//color-ui-0 = hsl(219, 8%, 12%)
//color-tile = hsl(39, 20%, 75%)
color-tile = hsl(39, 20%, 85%)

color-ui-4 = hsl(219, 10%, 10%)
color-ui-5 = hsl(219, 10%, 15%)
color-ui-6 = hsl(219, 10%, 18%)
color-ui-7 = hsl(219, 10%, 21%)
color-ui-8 = hsl(219, 10%, 24%)
color-ui-10 = hsl(219, 10%, 30%)


// TODO REMOVE
//color-accent = hsl(hue, 88%, 60%)
color-accent = hsl(209, 88%, 60%)
//color-accent = hsl(hue - 30, 100%, 50%)
color-accent-two = #FF4500
color-accent-three = #FFBE00

/*color-text = hsl(0, 0%, 95%)
color-text = white
color-secondary-text = hsla(0, 0%, 95%, 0.7)
color-disabled-text = hsla(0, 0%, 95%, 0.3)
*/

color-text = rgba(255,255,255,0.88)
color-secondary-text = rgba(255,255,255,0.6)
color-disabled-text = rgba(255,255,255,0.3)
color-border = rgba(255,255,255,0.2)

/* Shadows
-------------------------------------------------- */
raise(z)
  if z == 1
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24)
  else if z == 2
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  else if z == 3
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23)
  else if z == 4
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22)
  else if z == 5
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22)

filter(n)
  -webkit-filter: n
  filter: n

roundedCorners()
  border-radius: 2px

/* Scrollbar
-------------------------------------------------- */
.window-content
#chat-messages
.page
  &::-webkit-scrollbar
    width: 10px
    height: 10px
  &::-webkit-scrollbar-thumb
    roundedCorners()
    background-color: rgba(255,255,255,0.12)
    border: 3px solid transparent
    background-clip: padding-box
    &:hover
      background-color: rgba(255,255,255,0.24)
    &:active
      background-color: rgba(255,255,255,0.48)
  &::-webkit-scrollbar-corner
    background-color: transparent

/* Android Fix
-------------------------------------------------- */
*
  text-size-adjust: none !important

/* Animations
-------------------------------------------------- */
@keyframes fadeIn
  from
    opacity: 0
  to
    opacity: 1
@keyframes fadeInBottom
  from
    opacity: 0
    transform: translateY(32px)
  to
    opacity: 1
    transform: none
@keyframes fadeOut
  from
    opacity: 1
  to
    opacity: 0
@keyframes slideInLeft
  from
    transform: translateX(-100%)
  to
    transform: translateY(0)
@keyframes slideInTop
  from
    transform: translateY(-100%)
  to
    transform: translateY(0)
@keyframes bounceIn
  0%, 20%, 40%, 60%, 80%, 100%
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000)
  0%
    opacity: 0
    transform: scale3d(.3, .3, .3)
  20%
    transform: scale3d(1.1, 1.1, 1.1)
  40%
    transform: scale3d(.9, .9, .9)
  60%
    opacity: 1
    transform: scale3d(1.03, 1.03, 1.03)
  80%
    transform: scale3d(.97, .97, .97)
  100%
    opacity: 1
    transform: scale3d(1, 1, 1)
@keyframes bounceInFadeOut
  0%
    opacity: 0
    transform: scale(0.3)
  5%
    opacity: 1
    transform: scale(1.05)
  7%
    transform: scale(0.9)
  10%
    transform: scale(1)
  90%
    opacity: 1
    transform: scale(1)
  100%
    opacity: 0
    transform: scale(1.5)
@keyframes scaleIn
  from
    opacity: 0
    transform: translateY(-100px) rotateX(45deg)
  to
    opacity: 1
    transform: translateY(0) rotateX(0)
@keyframes zoomIn
  0%
    opacity: 0
    transform: scale3d(.3, .3, .3)
  50%
    opacity: 1
@keyframes fadeOutLeft
  from
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
    opacity: 1
    transform: translateX(100px)
  60%
    animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
    opacity: 1
    transform: translateX(0) scale(1)
  to
    opacity: 0
    transform: translateX(0) scale(2)
@keyframes fadeOut
  from
    opacity: 1
  to
    opacity: 0
@keyframes fadeOut20
  from
    opacity: 1
  to
    opacity: 0.2

  
@keyframes shiftLeft
  from
    opacity: 1
    transform: translateX(0)
  to
    opacity: 0
    transform: translateX(-10px) translateX(-100%)
@keyframes dustWave
  from
    opacity: 1
    transform: scale(0.5)
  to
    opacity: 0
    transform: scale(2)
@keyframes rotateInLeft
  from
    opacity: 0
    transform: rotateY(90deg)
  to
    opacity: 1
    transform: rotateY(0deg)
@keyframes superNova
  from
    box-shadow: 0 0 0em hsl(39, 100%, 70%)
  50%
    box-shadow: 0 0 2em hsl(39, 100%, 70%)
    opacity: 1
  to
    opacity: 0
@keyframes bonusStart
  from
    opacity: 0.2
  to
    opacity: 1
@keyframes droppedTile
  from
    opacity: 1
  to
    opacity: 0.7
@keyframes tileSubmitted
  from
    background-color: white
    //box-shadow: 0 0 0 1px hsl(39, 8%, 68%)
    //background-image: none
  to
    //background-color: hsl(39, 50%, 60%)
    //background-image: radial-gradient(circle at 50% 0, hsla(39, 90%, 80%, 1), transparent 100%)
    background-color: hsl(39, 88%, 72%)
    //box-shadow: 0 0 0 1px hsl(39, 42%, 62%)
@keyframes fadeInLogo
  from
    opacity: 0
    transform: translateX(-25%)
  to
    opacity: 1

/* Base Styles
-------------------------------------------------- */
html
  background: black
  color: color-text
  cursor: default
  font-size: 13px
  font-family: 'Open Sans', 'Source Sans Pro', 'Lato', 'Roboto', 'Arial', sans-serif
  font-weight: 400
  height: 100vh
  overflow-y: hidden
  perspective: 1000px
  user-select: none
  -ms-touch-action: manipulation
  touch-action: manipulation
.hide
  display: none !important
.notransition *
  transition: none !important
.desktop-inline
  display: none


/* Typography
-------------------------------------------------- */
// scale 1.2
font-size-small = 11px
font-size-normal = 13px
font-size-large = 16px
font-size-larger = 19px
font-size-huge = 22px
font-size-full-screen-message = 32px
font-size-title = 32px

b
  font-weight: 600
h1
  font-size: font-size-huge
  font-weight: 600
  line-height: 24px
  margin: 0
  margin-bottom: 24px
h2
  font-size: font-size-larger
  font-weight: 600
  line-height: 24px
  margin: 0
  margin-bottom: 24px
h3
  font-size: font-size-large
  font-weight: 600
  line-height: 24px
  margin: 0
  margin-bottom: 24px
small
  font-size: font-size-small
ol, ul
  margin: 0
  margin-bottom: 24px
  li
    line-height: 24px
p
  line-height: 24px
  margin: 0
  margin-bottom: 24px
.secondary
  color: color-secondary-text
.large
  font-size: font-size-large

/* Tables
-------------------------------------------------- */
caption
  @extend h2
  margin-top: 0
  text-align: left
table
  margin: 0
  margin-bottom: 24px
tr
  border-bottom: 1px solid rgba(255,255,255,0.05)
th, td
  line-height: 24px
  padding: 0 10px

/* Links
-------------------------------------------------- */
a
  color: color-accent
  text-decoration: none
  &:hover
    color: lighten(@color, 20%)
    text-decoration: underline

/* Buttons
-------------------------------------------------- */
.button
  //background-color: rgba(255,255,255,0.12)
  //background-image: linear-gradient(transparent, rgba(0,0,0,0.24))
  //box-shadow: inset 0 0 0 1px rgba(255,255,255,0.05)
  //border: none
  //border-radius: 2px
  background-color: transparent
  border: 1px solid rgba(255,255,255,0.2)
  border-radius: 100px
  color: color-text
  cursor: pointer
  display: inline-block
  font-size: font-size-small
  font-weight: 600
  //height: 34px
  height: auto
  letter-spacing: 0.1em
  line-height: 34px
  //line-height: 1
  outline: none
  overflow: hidden
  //margin: 3px 0
  margin: 0
  padding: 0 32px
  //padding: 10.5px 30px
  text-overflow: ellipsis
  text-transform: uppercase
  transition: background-color 0.1s
  vertical-align: middle
  white-space: nowrap
  .disabled.button-text
    display: none
  &:focus
    background-color: rgba(255,255,255,0.03)
  &:hover
    //background-color: rgba(255,255,255,0.16)
    //box-shadow: inset 0 0 0 1px rgba(255,255,255,0.1)
    border-color: rgba(255,255,255,0.5)
    color: white
    text-decoration: none
    //color: color-text
  &:active
    background-color: rgba(0,0,0,0.2)
    //background-image: linear-gradient(rgba(0,0,0,0.24), transparent)
    //box-shadow: inset 0 0 0 1px rgba(255,255,255,0.1)
    color: white
  &:disabled
    background-color: @background-color !important
    background-image: none !important
    border: @border !important
    box-shadow: none !important
    color: color-disabled-text !important
    cursor: default
    .enabled.button-text
      display: none
    .disabled.button-text
      display: inline
  i.fa
    letter-spacing: 0
.button-primary
  background-color: hsl(209, 88%, 48%)
  border: 1px solid transparent
  color: white
  font-weight: 600
  position: relative
  &:focus
    //background-color: tint(@background-color, 6%)
    background-color: hsl(209, 88%, 52%)
    border-color: transparent
  &:hover
    //background-color: tint(@background-color, 12%)
    background-color: hsl(209, 88%, 60%)
    border-color: transparent
  &:active
    //background-color: shade(@background-color, 18%)
    background-color: hsl(209, 88%, 40%)
    border-color: transparent
  &:disabled:after
    display: none
.button-red
  background-color: color-accent-two
  color: white
  font-weight: 600
  position: relative
  &:focus
    background-color: tint(@background-color, 6%)
  &:hover
    background-color: tint(@background-color, 12%)
  &:active
    background-color: shade(@background-color, 18%)
  &:disabled:after
    display: none
.button-yellow
  background-color: color-accent-three
  color: white
  font-weight: 600
  position: relative
  &:focus
    background-color: tint(@background-color, 6%)
  &:hover
    background-color: tint(@background-color, 12%)
  &:active
    background-color: shade(@background-color, 18%)
  &:disabled:after
    display: none
.button-group
  .button
    margin-right: 10px
.donate
  display: flex
  margin-bottom: 0
  a
    background-color: #FFA926
    background-image: linear-gradient(transparent 72%, #FFF1DB)
    border: 1px solid #FF9933
    border-radius: 12px
    color: #003366
    display: inline-block
    font-family: 'Arial', 'Helvetica', sans-serif
    font-size: 15px
    font-style: italic
    font-weight: 600
    line-height: 24px
    margin: 0 5px
    padding: 0 20px
    position: relative
    overflow: hidden
    transition: box-shadow 0.4s
    &:hover
      box-shadow: 0 0 1em white
      text-decoration: none
    &:before
      background-image: linear-gradient(#FFFDF8, #FEDFA1)
      border-bottom: 1px solid #FED284
      border-radius: 13px
      content: ''
      height: 13px
      left: 2px
      position: absolute
      top: 0
      right: 2px
  span
    position: relative
    z-index: 1

/* Toggles
-------------------------------------------------- */
.toggle
  .toggle-enabled
  .toggle-disabled
    margin-left: 2px
  .toggle-enabled
    color: color-accent
  .toggle-disabled
    color: color-accent-three
  .toggle-enabled
    display: none
  &.is-enabled
    .toggle-enabled
      display: inline
    .toggle-disabled
      display: none

/* Tabs
-------------------------------------------------- */
.tabs
  list-style-type: none
  margin: 0
  padding: 0
  li
    display: inline-block
    margin-right: 16px
    &:last-child
      margin-right: 0
  button
    background: none
    border: none
    box-shadow: none
    color: color-text
    font-size: font-size-small
    font-weight: 600
    letter-spacing: 0.1em
    line-height: 32px
    margin-bottom: 8px
    outline: none
    padding: 0
    text-transform: uppercase
    transition: box-shadow 0.1s
    &:disabled
      display: none
    &:hover
    &.selected
      box-shadow: inset 0 -2px color-accent

/* Forms
-------------------------------------------------- */
form
  margin: 0
  margin-bottom: 24px
input[type='email']
input[type='number']
input[type='search']
input[type='text']
input[type='tel']
input[type='url']
input[type='password']
textarea
select
  //background-color: rgba(0,0,0,0.24)
  background: hsl(0,0%,92%)
  border: none
  border-radius: 2px
  //border-radius: 100px
  box-sizing: border-box
  //color: color-text
  color: #222
  height: 36px
  //margin: 3px 0
  margin: 0
  padding: 1px 4px
  //height: 20px*1.8
  //margin: 20px*0.1 0
  //padding: 20px*0.1 20px*0.3
  outline: none
  resize: vertical
  //transition: background-color 0.1s
  width: 100%
  
  //background: white
  //color: #222
  //box-shadow: inset 0 1px 3px rgba(0,0,0,0.48)
  &:focus
    background: white
input[type='email']
input[type='number']
input[type='search']
input[type='text']
input[type='tel']
input[type='url']
input[type='password']
textarea
  appearance: none
textarea
  min-height: 65px
  padding-top: 6px
  padding-bottom: 6px
label
legend
  color: color-secondary-text
  display: block
  font-size: font-size-small
  font-weight: 600
  letter-spacing: 0.1em
  line-height: 24px
  text-transform: uppercase
  transition: color 0.1s
option
  border-radius: 2px
input[type='checkbox']
  display: none
  & + label:before
    background: rgba(255,255,255,0.1)
    border-radius: 2px
    content: ''
    display: inline-block
    font-size: font-size-large
    height: 24px
    margin-right: 8px
    text-align: center
    transition: background 0.1s
    width: 24px
    vertical-align: top
  & + label:hover:before
    background: rgba(255,255,255,0.2)
  &:checked + label:before
    content: '✔'

/* Flex
-------------------------------------------------- */
.row
  display: flex
  flex-wrap: wrap
  &.valign-baseline
    align-items: baseline

/* Windows
-------------------------------------------------- */
.window
  raise(5)
  //roundedCorners()
  animation: zoomIn 0.4s backwards
  //animation: fadeIn 0.4s
  //backface-visibility: hidden
  //background: hsla(hue, 8%, 16%,0.9)
  //background: hsl(hue, 8%, 16%)
  background: color-ui-5
  //border: 1px solid rgba(255,255,255,0.05)
  //border: 1px solid color-ui-7
  //border: 1px solid color-ui-8
  box-sizing: border-box
  color: color-text
  display: flex
  flex-direction: column
  flex: 0 1 auto
  max-width: 600px
  overflow: hidden
  position: relative
  .button
    color: color-text
.window-header
  //background: hsla(hue, 8%, 32%, 0.8)
  //background: rgba(255,255,255,0.12)
  //background: color-ui-6
  background: hsl(219,50%,50%)
  display: flex
  flex: 0 0 auto
  justify-content: flex-end
  h1
    color: inherit
    font-weight: 600
    //font-size: font-size-small
    font-size: font-size-normal
    flex: 1 0 auto
    line-height: 30px
    margin: 0
    margin-left: 60px
    text-align: center
    //text-transform: uppercase
.window-content
  cursor: auto
  flex: 1 1 auto
  overflow: hidden
  overflow-y: auto
  padding: 24px
  padding-bottom: 0
  user-select: initial
.window-actions
  margin-top: 10px
.window-footer
  border-top: 1px solid color-border
  color: color-secondary-text
  font-size: font-size-small
  line-height: 24px
  margin: 0
  margin-top: 30px
  padding: 20px 0
  padding-top: 10px
#overlay
  align-items: center
  background: rgba(0,0,0,0.2)
  bottom: 0
  display: flex
  flex-direction: column
  justify-content: center
  left: 0
  outline: none
  padding: 5px
  position: absolute
  right: 0
  top: 0
  z-index: 60
#alert
  align-items: center
  bottom: 0
  display: flex
  justify-content: center
  left: 0
  position: absolute
  right: 0
  top: 0
.window-button-group
  margin-bottom: 20px
  .button
    margin-right: 20px * 0.5
    &:last-child
      margin-right: 0
.window-close
  @extend .button
  background: none
  //background-color: #AF3403
  border: none
  border-radius: 0
  box-shadow: none
  color: inherit
  flex: 0 0 auto
  font-size: font-size-small
  line-height: 30px
  height: 30px
  margin: 0
  outline: none
  padding: 0
  text-align: center
  width: 60px
  &:hover
    //background-color: #E81123
#pass-overlay
  align-items: center
  animation: fadeIn 0.2s
  background: rgba(0,0,0,0.6)
  bottom: 0
  display: flex
  flex-direction: column
  justify-content: center
  left: 0
  position: absolute
  right: 0
  top: 0
  z-index: 40
#rules-overlay
  align-items: center
  animation: fadeIn 1s
  background: rgba(0,0,0,0.2)
  bottom: 0
  display: flex
  flex-direction: column
  justify-content: center
  left: 0
  position: absolute
  right: 0
  top: 0
  z-index: 41
#rules-dialog
  animation-delay: 1s
  animation-fill-mode: backwards
  .window-button-group
    display: flex
    justify-content: center
  .window-content
    background: color-ui-6
    cursor: default
    user-select: none
#rules-title
  font-size: font-size-larger
  margin-top: 10px
  text-align: center
#rules-options
  background: rgba(0,0,0,0.1)
  border: 1px solid rgba(255,255,255,0.1)
  border-radius: 2px
  margin: 30px 0
  margin-bottom: 20px
  padding: 20px
#rules-start
  width: 50%
.button.rules-active
  box-shadow: 0 0 0 2px #0f0, inset 0 0 0 1px rgba(0,0,0,0.5)
.rules-locked
  #rules-options
    .button
      background: none
      box-shadow: none
      border: 1px solid rgba(255,255,255,0.2)
      color: color-disabled-text
      cursor: default
    .button.rules-active
      box-shadow: 0 0 0 2px #0f0, inset 0 0 0 1px rgba(0,0,0,0.5)
      color: white
.rules-agreed
  #rules-options
    .button.rules-active
      background: green


.game-window
  //background: color-ui-6
  margin: 0
  flex: 0 0 auto
  .rack:before
    display: none
#update
  animation: fadeIn 0.2s
  align-items: center
  background-color: rgba(0,0,0,0.9)
  bottom: 0
  display: flex
  flex-direction: column
  justify-content: center
  left: 0
  padding: 20px
  position: fixed
  right: 0
  text-align: center
  top: 0
  z-index: 99
  p
    max-width: 640px
  button
    margin-right: 10px
    &:last-child
      margin-right: 0
  

/* Lists
-------------------------------------------------- */
.list
  list-style-type: none
  padding: 0
  li
    line-height: 40px
    border-bottom: 1px solid rgba(255,255,255,0.1)
    &:first-child
      border-top: 1px solid rgba(255,255,255,0.1)
  .button
    line-height: 20px * 1.4
    height: 20px * 1.4

/* Layout
-------------------------------------------------- */
#layout
  bottom: 0
  left: 0
  display: flex
  position: absolute
  right: 0
  top: 0
#main
  background: none
  bottom: 0
  display: flex
  flex-direction: column
  left: 0
  overflow: hidden
  position: absolute
  right: 0
  top: 0
  //height: 100vh
  //width: 100vw
#content
  flex: 1 1 auto
  position: relative
/*.chrome #main.blur
  filter: blur(10px)*/
.page
  animation: fadeIn 1s
  //background-color: hsl(hue, 30%, 22%)
  //background: hsl(219, 40%, 40%)
  //background-image: radial-gradient(circle at 50% 0, transparent, black 150%)
  //background: linear-gradient(45deg, hsla(269,40%,30%,1), transparent 70%), linear-gradient(-45deg, hsla(269,40%,30%,1), transparent 50%), radial-gradient(farthest-corner at 50% 0, hsl(209, 30%, 60%), transparent 70%), linear-gradient(225deg, hsla(209,40%,35%,1), #000 150%)
  background: linear-gradient(45deg, hsla(279,40%,30%,1), transparent 70%), linear-gradient(-45deg, hsla(279,40%,30%,1), transparent 50%), radial-gradient(farthest-corner at 50% 0, hsl(219, 30%, 60%), transparent 70%), linear-gradient(225deg, hsla(219,40%,35%,1), #000 150%)
  display: flex
  flex: 1 1 auto
  flex-direction: column
  overflow: auto
  position: relative

.page:before
//#table:before
  //background-image: url('http://crosswordsarena.com/images/screenshot1-en.png')
  background-image: url('../images/background.png')
  //background-position: 20%
  //background-size: 240%
  background-size: 676px * 2
  bottom: 0
  content: ''
  left: 0
  opacity: 0.03
  pointer-events: none
  position: absolute
  right: 0
  top: 0
  //-webkit-filter: grayscale(1) blur(5px)
.page-content
  z-index: 1

/* App Bar
-------------------------------------------------- */
#app-bar
  //background: color-ui-6
  background: color-ui-4
  box-sizing: border-box
  display: flex
  flex: 0 0 auto
  justify-content: space-between
  list-style-type: none
  margin: 0
  //padding: 10px 5px
  padding: 6px 5px
  width: 100%
  li
    display: flex
    margin: 0
    padding: 0
  .button
    margin: 0 5px
    padding-left: 15px
    padding-right: 15px
  #app-bar-menu
    font-size: 14px
    padding: 0
    text-align: center
    width: 36px
#app-bar-lobby
  align-items: center
  display: flex
  overflow: hidden
  justify-content: flex-end
#app-bar-game
  display: flex
  overflow: hidden
// TODO: fix selector
#app-bar #app-bar-challenges
  padding: 0
  text-align: center
  width: 36px
  &.important
    animation: bounceIn 0.4s
    background-color: color-accent-two
    color: color-text
    &:hover
      background-color: lighten(color-accent-two, 10%)
    &:active
      background-color: shade(color-accent-two, 20%)
#app-bar-leave-game
  display: none
// TODO: fix selector
#app-bar #more
  width: 36px
  padding: 0
  &.updated
    background-color: hsl(209, 88%, 48%)
    border: 1px solid transparent

/* Menu
-------------------------------------------------- */
#menu
  raise(1)
  animation: slideInLeft 0.4s
  box-sizing: border-box
  bottom: 0
  left: 0
  flex: 0 1 auto
  max-width: 90%
  position: absolute
  top: 0
  transform: translateX(0)
  transition: transform 0.2s
  //width: 240px
  z-index: 71
  i.fa
    margin-left: 5px
  i.fa.fa-external-link
    color: tint(color-0,50%)
  h1
    margin-left: 0
    text-transform: uppercase
  ul
    list-style-type: none
    margin-bottom: 16px
    padding: 0
  li
    margin-bottom: 4px
  .button
    border: none
    border-radius: 0
    box-sizing: border-box
    color: rgba(255,255,255,0.6)
    font-size: inherit
    font-weight: inherit
    letter-spacing: normal
    padding: 0 10px
    text-align: inherit
    text-transform: inherit
    //text-align: center
    width: 100%
    &:hover
      color: white
  .window-header
    text-align: center
  .window-content
    background: color-ui-6
    //border-radius: 2px
    padding: 10px
    padding-bottom: 0
    user-select: none
#menu-overlay
  animation: fadeIn 0.4s
  bottom: 0
  left: 0
  position: absolute
  right: 0
  top: 0
  background: rgba(0,0,0,0.5)
  z-index: 70
#menu-key-bindings
  display: none

/* Start Page
-------------------------------------------------- */
#start
  background: linear-gradient(225deg,rgba(0,0,0,0.2), rgba(0,0,0,0.2)), linear-gradient(45deg, hsla(279,40%,30%,1), transparent 70%), linear-gradient(-45deg, hsla(279,40%,30%,1), transparent 50%), linear-gradient(225deg, hsla(219,40%,35%,1), #000 150%)
  .page-content
    display: flex
    flex-direction: column
    flex: 1 0 auto
    padding: 0 16px
    justify-content: center
  form
    max-width: 400px - 48px
    width: 100%
    input
      border-radius: 100px
      margin-bottom: 16px
      padding: 1px 16px
    button
      width: 100%
#start-logo
  animation: fadeIn 1s
  display: flex
  flex: 0 0 auto
  flex-direction: column
  height: 120px
  justify-content: center
  h1
    color: white
    font-size: 36px
    font-weight: 800
    letter-spacing: 0.1em
    line-height: 1
    text-align: center
    //text-shadow: 0 0.2em 0.6em rgba(0,0,0,0.24)
    text-transform: uppercase
.start-display
  align-items: center
  display: flex
  flex: 0 0 auto
  flex-direction: column
  height: 240px
#start-login
  animation: fadeIn 1s 0.5s backwards
  //margin: 0 auto
  //width: 360px


/* Lobby Page
-------------------------------------------------- */
#lobby
  //background: radial-gradient(circle at calc(50% - 450px) 0, rgba(89,116,166,1), transparent 300px), radial-gradient(circle at calc(50% + 450px) 0, rgba(89,116,166,1), transparent 300px), radial-gradient(circle at 50% 0, rgba(89,116,166,1), transparent 300px), linear-gradient(hsl(219, 30%, 15%), black)
  //background: hsl(219, 40%, 40%)
  //background-image: radial-gradient(circle at 50% 0, transparent, black 150%)
  display: flex
  flex-direction: column
  overflow-y: auto
  h1
    font-size: font-size-larger
    font-weight: 800
    letter-spacing: 0.1em
    margin: 20px auto 40px
    text-align: center
    //text-shadow: 0 0.2em 1em hsla(29, 100%, 66%, 0.5)
    text-shadow: 0 2px 6px rgba(0,0,0,0.24)
    text-transform: uppercase
  /*p
    font-size: font-size-large
    margin-top: 0
    text-align: center*/
#lobby-content
  flex: 1 0 auto
  padding: 0 10px
  //padding-top: 20px
  z-index: 1
#lobby-bottom
  flex: 0 0 auto
.lobby-clients
  flex-wrap: wrap
  margin-bottom: 40px
.lobby-client
  animation: fadeIn 0.2s
  flex: 1 1 300px
  height: 100px
  margin: 0 auto 10px auto
  max-width: 300px
  outline: none
  position: relative
  transition: box-shadow 0.2s, transform 0.4s
  transform-style: preserve-3d
  &.is-inspected
    transform: rotateY(180deg)
  &.is-offline
    animation: fadeOut 0.2s
    opacity: 0
    pointer-events: none
  .lobby-client-challenge
    display: none
  .lobby-client-unchallenge
    display: none
  .lobby-client-accept
    display: none
.lobby-client-picture
  //background-color: #eee
  background-color: color-ui-10
  background-image: linear-gradient(transparent, transparent 47%, rgba(255,255,255,0.24))
  border-radius: 50%
  //color: #222
  color: rgba(255,255,255,0.6)
  flex: 0 0 auto
  font-size: 40px
  height: 80px
  //line-height: 80px
  line-height: 78px
  margin: 10px
  pointer-events: none
  position: relative
  text-align: center
  text-shadow: 0 0.1em rgba(0,0,0,0.24)
  width: 80px
  /*&:after
    border-radius: 50%
    bottom: 0
    //box-shadow: inset 0 0 0 1px color-border
    box-shadow: inset 0 2px 6px rgba(0,0,0,0.24)
    content: ''
    left: 0
    position: absolute
    right: 0
    top: 0*/
  img
    border-radius: 50%
    height: 100%
    width: 100%
/*img.lobby-client-picture
  background: rgba(0,0,0,0.5)*/
.lobby-client-content
  background: rgba(0,0,0,0.18)
  //background: color-ui-5
  //border-left: 1px solid rgba(0,0,0,0.3)
  display: flex
  flex: 1 1 auto
  flex-direction: column
  justify-content: space-between
  overflow: hidden
  padding: 10px
.lobby-client-name
  color: color-text
  font-size: font-size-large
  font-weight: 600
  line-height: 20px
  overflow: hidden
  text-overflow: ellipsis
  white-space: nowrap
.lobby-client-status
  color: color-secondary-text
  font-size: font-size-normal
  font-weight: 400
  line-height: 20px
  overflow: hidden
  text-overflow: ellipsis
  white-space: nowrap
.lobby-client-button
  flex: 0 0 auto
  height: 30px
  line-height: 100%
  padding: 0 5px
.lobby-client-unchallenge
  background-color: color-accent
  border: 1px solid transparent !important
  &:hover
    background-color: lighten(color-accent, 10%)
  &:active
    background-color: shade(color-accent, 20%)
.lobby-client-accept
  background-color: color-accent-two
  border: 1px solid transparent !important
  &:hover
    background-color: lighten(color-accent-two, 10%)
  &:active
    background-color: shade(color-accent-two, 20%)
.lobby-client.available
  .lobby-client-challenge
    display: block
  &.self
    .lobby-client-challenge
      display: none
.lobby-client.challenged
  .lobby-client-face
    background-color: rgba(darken(color-accent, 50%), 1)
  .lobby-client-challenge
    display: none
  .lobby-client-unchallenge
    display: block
  .lobby-client-accept
    display: none
.lobby-client.challenger
  .lobby-client-face
    background-color: rgba(darken(color-accent-two, 50%), 1)
  .lobby-client-challenge
    display: none
  .lobby-client-unchallenge
    display: none
  .lobby-client-accept
    display: block
.lobby-client-face
  raise(1)
  //box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23), inset 0 0 0 1px rgba(255,255,255,0.05);
  //background-color: rgba(color-ui-0, 0.8)
  //background-color: hsl(219,8%,15%)
  background-color: color-ui-6
  //border: 1px solid color-ui-7
  border-radius: 2px
  overflow: hidden
  transition: background-color 0.2s
.lobby-client-front
  backface-visibility: hidden
  bottom: 0
  display: flex
  position: absolute
  left: 0
  right: 0
  top: 0
  transform: rotateY(0)
.lobby-client-back
  backface-visibility: hidden
  bottom: 0
  position: absolute
  left: 0
  padding: 10px
  right: 0
  top: 0
  transform: rotateY(180deg)
  
/* Game Page
-------------------------------------------------- */
#game
  align-items: stretch
  //background: radial-gradient(circle at 0 50%, rgba(86,46,107,0.8), transparent 40%), radial-gradient(circle at 100% 50%, rgba(86,46,107,0.8), transparent 40%), radial-gradient(farthest-corner at 50% 0, #5974a6, transparent 70%), linear-gradient(225deg, hsla(219,40%,20%,1), #000 200%)
  background: none
  display: flex
  flex-direction: column
  outline: none
  &:before
    content: none
#canvas
  display: flex
  flex: 1 1 auto
  flex-direction: column
  overflow: hidden
  position: relative
.hourglass
  animation: fadeIn 0.2s
  background: darken(hsl(119, 100%, 50%), 60%)
  bottom: 0
  height: 8px
  left: 50%
  //margin-left: -178px
  margin-left: -0.5 * (44 * 7 + 2 * 20px)
  right: 0
  overflow: hidden
  position: absolute
  //width: 356px
  width: 44px * 7 + 2 * 20px
  
.hourglass-path
  background: hsl(119, 100%, 50%)
  bottom: 0
  //height: 5px
  left: 0
  position: absolute
  right: 0
  top: 0
  transition: width 0.2s
  width: 0%
  //transition: transform 0.2s
  //transform: translateX(-100%)
.hourglass-highlight
  .hourglass-path
    background: color-accent-two
#opponent-hourglass
  height: 2px
  margin-left: -0.5 * (44px * 7)
  width: 44px * 7
  /*.hourglass-path
    height: 2px*/
#dust
  animation: dustWave 1.2s forwards
  //backface-visibility: hidden
  box-shadow: inset 0 0 0.5em rgba(255,255,255,0.2)
  border-radius: 100%
  height: 2em
  pointer-events: none
  position: fixed
  transform: scale(1)
  width: 2em
  z-index: 50
#table
  //background: hsl(219, 40%, 40%)
  //background-image: radial-gradient(circle at 50% 25%, transparent, black 150%)
  //background: radial-gradient(circle at 0 50%, rgba(86,46,107,0.8), transparent 40%), radial-gradient(circle at 100% 50%, rgba(86,46,107,0.8), transparent 40%), radial-gradient(farthest-corner at 50% 0, #5974a6, transparent 70%), linear-gradient(225deg, hsla(219,40%,20%,1), #000 200%)
  background: radial-gradient(circle at 0 50%, rgba(86,46,107,0.8), transparent 40%), radial-gradient(circle at 100% 50%, rgba(86,46,107,0.8), transparent 40%), radial-gradient(farthest-corner at 50% 0, #5974a6, transparent 70%), linear-gradient(225deg, hsla(219,40%,20%,1), #000 200%)
  flex: 1 1 auto
  overflow: hidden
  position: relative
#table-content
  bottom: 0
  display: flex
  flex-direction: column
  left: 0
  position: absolute
  right: 0
  top: 0
.chrome #table-content.blur
  //filter: blur(10px)
.table-top
  align-items: center
  display: flex
  flex-direction: column
  flex: 0 0 auto
.table-center
  align-items: center
  display: flex
  flex: 1 1 auto
  flex-direction: column
  justify-content: center
  //margin-bottom: -5px
  overflow: hidden
.table-bottom
  align-items: center
  display: flex
  flex: 0 0 auto
  flex-direction: column
  width: 100%
.board
  //background-color: hsl(hue, 20%, 30%)
  //background-color: hsl(39, 10%, 56%)
  //background-size: 20%
  //background-color: hsla(49, 100%, 90%, 0.3)
  //background-color: hsl(38, 0%, 56%)
  //background-image: linear-gradient(#aaa,#ccc 50%,#aaa)
  //background: hsl(39,8%,65%)
  //background: #737388
  background: rgba(255,255,255,0.2)
  //border: 1px solid transparent
  //border-radius: 2px
  //box-shadow: 0 0.2em 0.6em rgba(0,0,0,0.24), inset 0 0 0.3em rgba(255,255,255,0.24)
  //box-shadow: 0 0 2em rgba(0,0,0,0.48)
  //box-shadow: 0 0.2em 1em rgba(0,0,0,0.24)
  //raise(1)
  flex: 0 0 auto
  height: 30em
  width: 30em
  padding: 0.5em
.squares-container
  //background-color: tint(hsl(hue, 8%, 12%), 5%)
  //background-color: hsl(hue, 8%, 12%)
  //background: hsl(219,8%,5%)
  //background: hsl(219, 8%, 3%)
  //background: #27292c
  //background: hsl(216, 6%, 15%)
  background: radial-gradient(hsl(219, 10%, 20%), black 200%)
  //background: hsl(0,0%,16%)
  height: 30em
  position: absolute
  width: 30em
  //background: radial-gradient(circle at 50% 50%, hsl(219,10%,12%), black 200%)
.squares
  left: 0
  bottom: 0
  position: absolute
  right: 0
  top: 0
  z-index: 1
.square
  //background: hsl(219,8%,12%)
  //background: hsl(219, 8%, 11%)
  background: rgba(0,0,0,0.2)
  box-shadow: inset 1px 1px rgba(255,255,255,0.05), inset -1px -1px rgba(0,0,0,0.3)
  //background: rgba(255,255,255,0.05)
  //background: hsl(0,0%,12%)
  //box-shadow: 0 0 0 1px tint(hsl(hue, 8%, 12), 5%)
  //box-shadow: inset 0 0 0 1px hsl(219,8%,16%)
  height: 2em
  position: absolute
  width: 2em
  &:nth-child(15n+1)
    left: 0
  &:nth-child(15n+2)
    left: 2em
  &:nth-child(15n+3)
    left: 4em
  &:nth-child(15n+4)
    left: 6em
  &:nth-child(15n+5)
    left: 8em
  &:nth-child(15n+6)
    left: 10em
  &:nth-child(15n+7)
    left: 12em
  &:nth-child(15n+8)
    left: 14em
  &:nth-child(15n+9)
    left: 16em
  &:nth-child(15n+10)
    left: 18em
  &:nth-child(15n+11)
    left: 20em
  &:nth-child(15n+12)
    left: 22em
  &:nth-child(15n+13)
    left: 24em
  &:nth-child(15n+14)
    left: 26em
  &:nth-child(15n+15)
    left: 28em
  &:nth-child(n+1):nth-child(-n+15)
    top: 0
  &:nth-child(n+16):nth-child(-n+30)
    top: 2em
  &:nth-child(n+31):nth-child(-n+45)
    top: 4em
  &:nth-child(n+46):nth-child(-n+60)
    top: 6em
  &:nth-child(n+61):nth-child(-n+75)
    top: 8em
  &:nth-child(n+76):nth-child(-n+90)
    top: 10em
  &:nth-child(n+91):nth-child(-n+105)
    top: 12em
  &:nth-child(n+106):nth-child(-n+120)
    top: 14em
  &:nth-child(n+121):nth-child(-n+135)
    top: 16em
  &:nth-child(n+136):nth-child(-n+150)
    top: 18em
  &:nth-child(n+151):nth-child(-n+165)
    top: 20em
  &:nth-child(n+166):nth-child(-n+180)
    top: 22em
  &:nth-child(n+181):nth-child(-n+195)
    top: 24em
  &:nth-child(n+196):nth-child(-n+210)
    top: 26em
  &:nth-child(n+211):nth-child(-n+225)
    top: 28em
  &.is-factored-in
    &:before
      animation: superNova 4s
      bottom: 0
      content: ''
      left: 0
      position: absolute
      right: 0
      top: 0
      z-index: 1
  &.is-submitted
    .tile
      animation: tileSubmitted 2s
      //background-color: hsl(39, 50%, 60%) // remember to update animations
      background-color: hsl(39, 88%, 72%)
      //background-image: radial-gradient(circle at 50% 0, hsla(39, 90%, 80%, 1), transparent 100%)
      //box-shadow: 0 0 0 1px hsl(39, 20%, 50%)
      //box-shadow: 0 0 0 1px hsl(39, 20%, 72%)
      //box-shadow: 0 0 0 1px hsl(39,24%, 64%)
      //box-shadow: 0 0 0 1px hsl(39, 42%, 62%)
      //box-shadow: 0 0 0 1px shade(@background-color, 10%)
.bonus-marker
  //border: 2px solid rgba(255,255,255,0.1)
  border-radius: 100%
  //box-shadow: inset 0 0 0 1px rgba(255,255,255,0.2)
  //box-shadow: inset 0 0 0 1px rgba(0,0,0,0.2)
  box-sizing: border-box
  font-weight: 400
  //height: 66.667%
  //left: 50%
  //margin-left: -33.333%
  //margin-top: -33.333%
  position: absolute
  //top: 50%
  //width: 66.667%
  top: 0
  right: 0
  bottom: 0
  left: 0
  transform: scale(0.7)
  
.bonus-text-container
  align-items: center
  bottom: 0
  display: flex
  justify-content: center
  left: 0
  position: absolute
  right: 0
  top: 0
.bonus-text
  //font-size: 0.556em
  font-size: 0.5em
  font-weight: 600
  text-align: center
  span
    font-size: 1.2em * 1.2
  

bonus = 0
dl = bonus + 39
tl = bonus + 144
dw = bonus + 210
tw = bonus

.bonus
  position: absolute
  //transform: translate3d(0,0,0)
  top: 0
  right: 0 
  bottom: 0
  left: 0
  circle
    fill: none
    stroke-width: 3
  text
    //dominant-baseline: central
    text-anchor: middle
    

.bonus.dl
/*  .bonus-marker
    //box-shadow: inset 0 0 0 1px hsl(dl, 20%, 30%)
    //border: 2px solid hsl(dl, 10%, 25%)
    box-shadow: 0 0 0.1em hsl(dl, 10%, 65%)*/
  .bonus-text
    //color: hsl(dl, 10%, 60%)
    //color: #aaa
    color: hsl(39, 10%, 50%)
  circle
    //stroke: hsl(dl, 10%, 50%)
    //stroke: hsl(dl, 10%, 30%)
    //stroke: #555
    stroke: hsl(39, 10%, 40%)
.bonus.tl
/*  .bonus-marker
    //box-shadow: inset 0 0 0 1px hsl(tl, 20%, 30%)
    //border: 2px solid hsl(tl, 25%, 25%)
    box-shadow: 0 0 0.1em hsl(tl, 15%, 65%)*/
  .bonus-text
    //color: hsl(tl, 30%, 60%)
    //color: hsl(tl, 30%, 55%)
    //color: hsl(42, 60%, 50%)
    //color: hsl(0, 60%, 56%)
    color: hsl(168, 66%, 36%)
  circle
    //stroke: hsl(tl, 15%, 50%)
    //stroke: hsl(tl, 25%, 25%)
    //stroke: hsl(42, 60%, 25%)
    //stroke: hsl(0, 60%, 25%)
    //stroke: hsl(tl, 30%, 30%)
    stroke: hsl(168, 66%, 26%)
.bonus.dw
  /*.bonus-marker
    background: hsl(dw, 40%, 40%)
    box-shadow: 0 0 0.1em hsl(dw, 60%, 60%)*/
  .bonus-text
    color: #ccc
  circle
    //stroke-width: 0
    fill: hsl(dw, 40%, 40%)
    stroke: hsl(dw, 40%, 40%)
.bonus.tw
  /*.bonus-marker
    background: hsl(tw, 60%, 50%)
    box-shadow: 0 0 0.1em hsl(tw, 80%, 70%)
  .bonus-text
    color: #eee*/
  .bonus-text
    color: #ccc
  circle
    //fill: hsl(tw, 60%, 50%)
    //stroke: hsl(tw, 60%, 50%)
    fill: hsl(6, 63%, 46%)
    stroke: hsl(6, 63%, 46%)
.bonus.start
  /*.bonus-marker
    background: hsl(bonus + 30, 60%, 50%)
    box-shadow: 0 0 0.1em hsl(bonus + 30, 80%, 70%)
  .bonus-text
    color: white*/
  .bonus-text
    color: #ccc
  circle
    fill: hsl(bonus + 30, 60%, 50%)
    stroke: hsl(bonus + 30, 60%, 50%)



.tile
  //background-color: color-tile
  //background: hsl(49,24%,88%)
  background: color-tile
  //background-image: radial-gradient(circle at 50% 0, hsla(39,20%,95%,1), transparent 100%)
  //box-shadow: 0 0 0 1px hsl(39, 0%, 54%)
  //box-shadow: 0 0 0 1px hsl(49,8%, 72%)
  //box-shadow: 0 0 0 1px hsl(39, 8%, 68%)
  //box-shadow: inset 0 0 0 1px shade(color-tile, 10%)
  //box-shadow: inset -1px -1px shade(color-tile, 10%)
  box-shadow: inset 1px 1px rgba(255,255,255,0.3), inset -1px -1px rgba(0,0,0,0.1)
  color: #444
  font-weight: 800
  height: 2em
  outline: none
  position: relative
  text-align: center
  //text-shadow: 0 0 1px white
  transform: translate3d(0,0,0)
  transform-origin: 0 0
  transition: transform 0.3s, fontSize 0.3s
  width: 2em
  z-index: 2
  &.two
    color: hsl(35, 63%, 41%)
  &.three
    color: hsl(199, 67%, 43%)
  &.four
    color: hsl(0, 75%, 71%)
  &[data-position='0']
    transform: translate3d(0,0,0)
  &[data-position='1']
    transform: translate3d(2em,0,0)
  &[data-position='2']
    transform: translate3d(4em,0,0)
  &[data-position='3']
    transform: translate3d(6em,0,0)
  &[data-position='4']
    transform: translate3d(8em,0,0)
  &[data-position='5']
    transform: translate3d(10em,0,0)
  &[data-position='6']
    transform: translate3d(12em,0,0)
  &[data-target]
    background-color: white
    //box-shadow: 0 0 0 1px shade(@background-color, 15%)
    //background-image: none
.tile-text
  font-size: 1.2em
  line-height: 1.66666667
.tile-value
  bottom: 0.05em
  font-weight: 400
  height: 1em
  left: 0
  line-height: 1
  overflow: hidden
  position: absolute
  right: 0
  text-align: center
.rack-container
  font-size: 22px
  height: calc(2em + 8px)
  position: relative
  width: 14em
#opponent-rack-container
  height: calc(2em + 4px)
.rack
  height: 2em
  position: relative
  &:before
    raise(1)
    //background: rgba(255,255,255,0.1)
    //background: hsl(39, 10%, 56%)
    //background-color: hsl(38, 0%, 56%)
    //background-color: hsl(39,8%,65%)
    background-color: #737388
    //box-shadow: 0 0.2em 0.6em rgba(0,0,0,0.24), inset 0 0 0.3em rgba(255,255,255,0.48)
    border-top-left-radius: 2px
    border-top-right-radius: 2px
    bottom: -8px
    box-sizing: border-box
    content: ''
    height: 8px
    left: -20px
    position: absolute
    right: -20px
  .tile
    animation: 0.4s fadeIn
    //backface-visibility: hidden
    position: absolute
    z-index: 10
    &.dragging
      transition: none
      z-index: 11
.opponent-rack
  margin-bottom: 0
  &:before
    display: none
#opponent-rack-container
  margin-top: -30px
#rack .tile
  cursor: pointer
  &:hover
    //background-color: lighten(color-tile, 70%)
    background-color: white
    z-index: 11
.game-message
  animation: bounceInFadeOut 2.25s forwards
  font-size: font-size-full-screen-message
  font-weight: 800
  left: 0
  line-height: 1.2
  margin-top: font-size-full-screen-message * @line-height * -0.5 - 10px
  pointer-events: none
  position: absolute
  text-align: center
  text-shadow: 0 0 6px black, 0 10px 10px black
  top: 50%
  width: 100%
  //will-change: transform
  z-index: 30
  span
    color: white
    display: inline-block
    border-radius: 0.4em
    padding: 10px 0.4em
#remaining
  //background: desaturate(color-tile, 20%)
  background: color-ui-4
  bottom: 48px
  //box-shadow: inset 0 0 0 1px hsl(39, 0%, 54%)
  //color: #444
  font-size: font-size-small
  font-weight: 700
  height: 25px
  line-height: 25px
  position: fixed
  text-align: center
  //text-shadow: 0 0 1px white
  //text-transform: uppercase
  width: 60px
  z-index: 21
#remaining-number
  margin-right: 0.1em
#remaining-text
  display: none
.unit-frame
  align-items: center
  background: color-ui-4
  //background-image: linear-gradient(transparent -20%, black 150%), linear-gradient(transparent -40%, hsl(119,100%,50%), hsl(119,100%,30%), hsl(119,100%,50%), transparent 140%)
  //box-shadow: inset 0 0 0 1px rgba(255,255,255,0.05)
  display: flex
  //font-size: font-size-large
  flex: 0 0 auto
  left: 0
  //line-height: 30px
  line-height: 25px
  margin: 0
  position: relative
  //transition: background-color 0.2s
  width: 100%
  z-index: 20
  > *
    flex: 0 0 auto
  .main
    display: flex
    flex: 1 1 auto
    padding: 0 20px
  .name
    flex: 1 1 auto
    overflow: hidden
    text-overflow: ellipsis
    white-space: nowrap
  .score
    font-weight: 600
    margin: 0
    position: relative
    text-align: right
  .delta
    animation: fadeOut 2s 2s forwards
    background-color: color-accent-three
    border-radius: 2px
    color: #333
    flex: 0 1 auto
    font-weight: 600
    //line-height: 24px
    line-height: 20px
    margin-top: 2px
    //margin-top: 3px
    padding: 0 10px
    position: absolute
    right: 60px
    top: 0
    text-align: center
    &.negative
      background-color: darken(color-accent-two, 25%)
      color: color-text
    &.preliminary
      animation: none
      background-color: rgba(255,255,255,0.1)
      color: color-secondary-text
  .status
    background-color: darken(color-accent-two, 25%)
    padding: 0 20px
  &.active
    //background-color: hsl(219, 60%, 50%)
    //background-color: #888
    //background-image: linear-gradient(#888, white 200%)
    background: hsl(119, 100%, 15%)
.unit-frame-picture
  background-color: #eee
  background-position: 50% 50%
  background-size: 100% auto
  border-radius: 100%
  box-shadow: 0 0 1px black
  color: #222
  font-size: 30px
  height: 60px
  line-height: 60px
  margin: -20px -10px -15px 10px
  text-align: center
  width: 60px
#player
  border-bottom: none
  .unit-frame-picture
    display: none
#player-main
  padding-left: 80px
#opponent-status
  roundedCorners()
  font-size: font-size-small
  line-height: 20px
  padding: 0 10px
  position: fixed
  right: 10px
  top: 35px
#opponent-chat
  left: 70px
  pointer-events: none
  position: fixed
  right: 8px
  top: 32px
  z-index: 20
  &.fadeOut
    animation: fadeOut 2s forwards
.opponent-chat-bubble
  animation: zoomIn 0.4s
  font-size: font-size-small
  margin-bottom: 5px
  span
    roundedCorners()
    background: rgba(32,32,32,0.8)
    box-shadow: inset 0 0 0 1px rgba(255,255,255,0.05)
    display: inline-block
    padding: 5px 10px
.opponent-chat-off
  display: none

#chat
  animation: zoomIn 0.4s
  background: color-ui-6
  //border: 1px solid rgba(255,255,255,0.05)
  bottom: 0
  display: flex
  flex: 0 0 auto
  flex-direction: column
  left: 0
  margin: 5px
  position: fixed
  right: 0
  top: 0
  z-index: 43
#chat-overlay
  background: rgba(0,0,0,0.5)
  bottom: 0
  display: flex
  left: 0
  position: fixed
  right: 0
  top: 0
  z-index: 42
.chat-section
  flex: 0 0 auto
  padding: 0 10px
  &:last-child
    border-bottom: none
#chat-header
  background: hsla(hue, 8%, 32%, 0.8)
  display: flex
  padding: 0
  justify-content: flex-end
#chat-form
  display: flex
  margin: 0
  padding: 10px 8px
#chat-form-input-wrapper
  background: white
  border-radius: 100px
  display: flex
  flex: 1 1 auto
#chat-form-input
  background: none
  flex: 1 1 auto
  padding: 1px 16px
  padding-right: 1px
  //background-color: rgba(0,0,0,0.24)
  //color: color-text
  //padding: 0 10px
#chat-form-button
  background: none
  border: none
  color: #888
  flex: 0 0 auto
  //margin-left: 10px
  outline: none
  padding: 0
  padding-right: 10px
  text-align: center
  width: 36px
  padding: 0
  &:hover
    color: #666
.chat-toggle
  width: 36px
  padding: 0
  flex: 0 0 auto
  margin-right: 10px
#chat-is-off
  color: color-secondary-text
  flex: 1 1 auto
  line-height: 36px
  margin: 0
  text-align: center
#chat-messages-wrapper
  background: color-ui-4
  flex: 1 1 auto
  //margin: 10px
  //margin-bottom: 0
  position: relative
  user-select: initial
#chat-messages
  bottom: 0
  left: 0
  overflow: hidden
  overflow-y: auto
  padding: 24px 16px
  padding-bottom: 0
  position: absolute
  right: 0
  top: 0
  a
    font-weight: 600
  p
    color: color-secondary-text
    cursor: text
  b
    color: color-text
    display: block
    font-weight: 600
  .result
    //background: rgba(255,255,255,0.1)
    //color: color-text
    color: color-text
    font-weight: 600
    position: relative
    text-align: center
    z-index: 0
    &:after
      border-bottom: 1px solid color-border
      content: ''
      left: 0
      position: absolute
      right: 0
      top: 50%
      z-index: -1
    span
      background: color-ui-4
      padding: 0 10px
  .end
    color: color-text
    font-weight: 600
.chat-off
  .message
    display: none
#opponent
  order: 1
#canvas
  order: 2
#player
  order: 3

/* Cursor
-------------------------------------------------- */
cursor-color = #f0f0f0

.cursor
  background-color: hsla(16, 100%, 50%, 0.5)
  //background-image: radial-gradient(circle at 50% 0, rgba(255,255,255,0.1), transparent 100%)
  //background-image: linear-gradient(225deg, rgba(255,255,255,0.1), transparent)
  //box-shadow: 0 0 0 1px hsla(16, 100%, 40%, 0.5)
  //box-shadow: 0 0 0 1px hsla(16, 100%, 30%, 0.5)
  box-shadow: inset 1px 1px rgba(255,255,255,0.05), inset -1px -1px rgba(0,0,0,0.1)
  height: 2em
  pointer-events: none
  position: absolute
  transform: translate3d(0,0,0)
  transition: transform 0.2s, left 0.2s, top 0.2s
  width: 2em
  will-change: transform //, left, top
  z-index: 12
  .cursor-angle
    //background-image: url('../images/cursor.svg')
    background-size: 50%
    background-position: 50%
    background-repeat: no-repeat
    height: 80%
    left: 10%
    position: absolute
    top: 10%
    //transform: scale(1.25)
    transition: opacity 0.3s, transform 0.3s
    width: 80%
    will-change: opacity, transform
  &.vertical
    .cursor-angle
      transform: rotateZ(90deg) //scale(1.25)
  &.subtle
    .cursor-angle
      opacity: 0

/* Other Stuff
-------------------------------------------------- */
.word-list
  display: flex
  flex-wrap: wrap
  list-style-type: none
  margin: 0
  margin-bottom: 10px
  margin-right: -10px
  padding: 0
  li
    background: color-tile
    border-radius: 1px
    display: flex
    margin: 0
    margin-bottom: 10px
    margin-right: 10px
  .tile
    background: none
    box-shadow: none
    line-height: 2
    &:first-child
      border-right: 1px solid shade(color-tile, 10%)
      //margin-right: 1px

#rotate-screen
  align-items: center
  background: color-ui-6
  display: none
  font-size: font-size-large
  left: 0
  bottom: 0
  justify-content: center  
  position: absolute
  right: 0
  top: 0
  text-align: center
  z-index: 40
  i
    font-size: font-size-huge
    margin-bottom: 1.5rem

/* Options Window
-------------------------------------------------- */
#options
  min-width: 280px
  .window-content
    user-select: none
  h3
    color: color-secondary-text
    font-size: font-size-small
    font-weight: 600
    letter-spacing: 0.1em
    margin: 0
    margin-bottom: 8px
    text-transform: uppercase
  input[type='checkbox']
  input[type='radio']
    margin-left: 6px
    width: 1em
    height: 1em
    margin-right: 4px
  label
    font-size: font-size-normal
    font-weight: 400
    letter-spacing: normal
    margin: 0
    text-transform: none
    &:hover
      color: white
  select
    height: auto
    overflow: hidden
    padding: 6px
    resize: none
  ul
    list-style-type: none
    margin: 0
    margin-bottom: 24px
    padding: 0
    &:last-child
      margin-bottom: 0
  li
    margin-bottom: 8px
    &:last-child
      margin-bottom: 0
.options-row
  align-items: center
  display: flex
#options-theme
  ul
    display: flex
    border: 1px solid color-border
    border-radius: 500px
    overflow: hidden
  li
    margin: 0
    width: 50%
  label
    display: block
    text-align: center
    width: 100%
  input
    display: none
    &:checked + label
      background: hsl(219,50%,50%)
      color: white
  
    

/* About Window
-------------------------------------------------- */
#about
  max-width: 800px
    
/* Feedback Window
-------------------------------------------------- */
#feedback-form-inputs
  margin-bottom: 24px
#feedback-success
  margin-top: 15px
  font-weight: 600
  color: #0f0
#feedback-error
  margin-top: 15px
  font-weight: 600
  color: #f00
.feedback-form-row
  margin-bottom: 8px

/* Leaderboard Window
-------------------------------------------------- */
#leaderboard-header
  display: flex
  flex-wrap: wrap
  justify-content: space-between
  margin-bottom: 24px
  ul
    margin-right: 16px
    &:last-child
      margin-right: 0
  button:disabled
    color: #666
#leaderboard
  flex: 1 1 auto
  width: 100%
  table
    margin: 0
    margin-bottom: 24px
    table-layout: fixed
    width: 100%
  th
    color: color-secondary-text
    font-size: font-size-small
    font-weight: 600
    letter-spacing: 0.1em
    text-align: left
    text-transform: uppercase
  th, td
    overflow: hidden
    padding: 0
    padding-right: 5px
    text-overflow: ellipsis
    white-space: nowrap
    &:last-child
      padding: 0
  tr
    animation: fadeIn 0.2s
  .window-content
    overflow-y: scroll
  .leaderboard-words
    th, td
      &:nth-child(1)
      &:nth-child(4)
        width: 15%
      &:nth-child(2)
      &:nth-child(3)
        width: 35%
  .leaderboard-games
    th, td
      width: 15%
      &:nth-child(2)
        width: 70%
#leaderboard-loading
  color: color-secondary-text
  padding: 10px 0
  text-align: center

/* Two-Letter-Words Window
-------------------------------------------------- */
#two-letter-words
  max-width: 668px
  .window-content
    cursor: default
    user-select: none

/* Challenges Window
-------------------------------------------------- */
#challenges
  max-width: 480px

/* Keyboard Window
-------------------------------------------------- */
#keyboard
  table
    margin-bottom: 10px
  tr
    border: none
  th, td
    padding: 0 20px 10px 0
  td:first-child
    white-space: nowrap
  td:last-child
    padding-right: 0
  kbd
    //background: color-tile
    border: none
    //box-shadow: 0 0 0 1px hsl(39, 0%, 54%)
    border: 1px solid color-border
    border-radius: 2px
    box-sizing: border-box
    //color: #444
    display: inline-block
    font-size: font-size-normal
    font-weight: 400
    line-height: 20px
    margin: 0
    min-width: 30px
    padding: 5px 10px
    text-align: center
    &:last-child
      margin-right: 0
  .window-content
    cursor: default
    user-select: none

/* Challenges Window
-------------------------------------------------- */
.challenges-client
  align-items: center
  display: flex
  &.disabled
    .challenges-client-name
      text-decoration: line-through
.challenges-client-name
  flex: 1 1 auto
  font-size: font-size-large
.challenges-client-status
  flex: 1 1 auto
.challenges-client-buttons
  display: flex
  flex: 0 0 auto

/* Players Window
-------------------------------------------------- */
.players-client
  align-items: center
  display: flex
.players-client-name
  flex: 1 1 auto
  font-size: font-size-large
.players-client-status
  flex: 1 1 auto
.players-client-buttons
  flex: 0 0 auto


/* Pass Dialog
-------------------------------------------------- */
#pass-dialog
  .window-content
    cursor: default
    user-select: none
  p
    text-align: center
    margin-bottom: 0
  .tiles
    font-size: 22px
    height: 44px
    margin: 24px auto 32px
    position: relative
    width: 14em
  .tile
    cursor: pointer
    position: absolute
    &:before
      //roundedCorners()
      background-color: transparent
      transition: background-color 0.1s
      bottom: -5px
      content: ''
      cursor: default
      height: 4px
      left: 0
      pointer-events: none
      position: absolute
      right: 0
      top: auto
    &:focus
      background-color: lighten(color-tile, 40%)
    &:hover
      background-color: lighten(color-tile, 60%)
    &.selected:before
      background-color: color-accent-three
  .window-button-group
    display: flex
    .button
      flex: 1 1 auto

/* Themes
-------------------------------------------------- */
color-wood = #25201E

.theme-wood
  /*.page
    background: none
    &:before
      content: none*/
  /*#start
  #lobby*/
  #table
    background-color: hsl(23, 43%, 16%)
    background-image: url('../images/themes/wood/background.png')
    background-position: 50% 50%
    background-size: cover
  /*.lobby-client-face
    background-color: #262626
  .lobby-client-picture
    background-color: #525252*/
  .board
    //raise(1)
    background-color: hsl(22, 46%, 31%)
    background-image: url('../images/themes/wood/wood.png')
    background-size: 194px 251px
    border-radius: 2px
    box-shadow: 0 0 1em rgba(0,0,0,0.24)
  #rack
    &:before
      background-color: hsl(22, 46%, 31%)
      background-image: url('../images/themes/wood/wood.png')
      background-size: 194px 251px

/* Ads */
#ad
  background: color-ui-6
  //border-right: 1px solid rgba(255,255,255,0.05)
  //box-shadow: 0 4px 12px rgba(0,0,0,0.24)
  box-shadow: 0 0 2em rgba(0,0,0,0.24)
  display: none
  flex: 0 0 auto
  flex-direction: column
  justify-content: space-between
  position: relative
  width: 160px
  z-index: 1
#ad-top
  display: flex
  flex: 1 1 auto
  flex-direction: column
  justify-content: center
#ad-hide
  background: none
  border: none
  box-shadow: none
  color: color-secondary-text
  font-size: font-size-small
  font-weight: 600
  line-height: 20px
  margin: 10px
  text-decoration: none
  text-transform: uppercase
  &:hover
    color: white
#cookie-consent
  //display: none
  animation: fadeInBottom 1s 0.5s backwards
  raise(1)
  background: color-ui-4
  border-radius: 2px
  //bottom: 64px
  box-sizing: border-box
  color: color-secondary-text
  flex: 0 0 auto
  font-size: font-size-small
  font-weight: 600
  //left: 50%
  //margin-left: -160px
  padding: 24px
  position: relative
  //position: fixed
  text-align: left
  //width: 320px
  //max-width: 360px
  max-width: 400px
#cookie-consent-close
  background: none
  border: none
  height: 32px
  outline: none
  position: absolute
  right: 0
  text-align: center
  top: 0
  width: 32px
  &:hover
    color: white


/* Media Queries
-------------------------------------------------- */

@media (min-width: 360px)
  #pass-dialog .tiles
    border-radius: 4px
    margin-left: 0
    margin-right: 0

/* Larger than mobile */
@media (min-width: 400px) {}

/* Larger than phablet */
@media (min-width: 550px) {}

/* Larger than tablet */
@media (min-width: 750px)
  #start-logo
    height: 180px
    h1
      font-size: 48px
  #cookie-consent
    margin-top: 16px
  .square
    //background-image: radial-gradient(rgba(0,0,0,0.08),transparent 50%)
  .lobby-clients
    display: flex
    margin: 0 auto
    margin-bottom: 60px
    width: 640px
  .lobby-client
    margin: 0
    margin-right: 20px
    margin-bottom: 20px


/* Larger than desktop */
@media (min-width: 1000px)
  .mobile-inline
    display: none
  .desktop-inline
    display: inline
  #main
    flex-direction: row
  #lobby
    margin-top: 56px
    h1
      //font-size: font-size-full-screen-message
      font-size: 1.2rem * 1.2 * 1.2 * 1.2
      letter-spacing: 0.15em
      line-height: 40px
      margin-top: 60px
      margin-bottom: 60px
  .lobby-clients
    padding-left: 20px

  #chat-overlay
    display: none
    z-index: auto
  #chat
    animation: none
    //background-color: rgba(23, 23, 23, 0.5)
    background-color: color-ui-6
    border: none
    //border-left: 1px solid color-ui-8
    //border-left: 1px solid color-ui-5
    //border-left: 1px solid rgba(255,255,255,0.05)
    border-radius: 0
    //box-shadow: 0 4px 12px rgba(0,0,0,0.24)
    //box-shadow: 0 0 2em rgba(0,0,0,0.24)
    display: flex !important
    margin: 0
    position: static
    width: 300px
    z-index: 0
    &.collapsed
      transform: none
  #chat-header
    .window-close
      display: none
  #chat-messages-wrapper
    margin-top: 56px
  #overlay
    animation: fadeIn 0.2s
    padding: 10px
  .window-group
    display: flex
    .window
      margin: 0 10px
  .lobby-clients
    width: 960px
  #game
    flex-direction: row
  #opponent-rack-container
    margin-top: 22px*-1
  .table-center
    margin-bottom: 0
  #more
    display: none
  .unit-frame
    background: none
    border: none
    box-shadow: none
    font-size: font-size-normal
    left: desktop-unit-frame-margin-horizontal + 10px
    line-height: desktop-unit-frame-line-height
    pointer-events: none
    position: absolute
    width: auto
    .main
      //raise(1)
      //background: hsla(hue, 10%, 25%, 0.5)
      background: rgba(255,255,255,0.12)
      border-radius: 2px
      margin-left: desktop-unit-frame-picture-size - 15px
      overflow: hidden
      padding: 0
      padding-left: 10px
      transition: background 0.2s
    .name
      flex: 0 1 auto
      max-width: 120px
      padding: 0 15px 0 (10px + desktop-unit-frame-picture-size * 0.5)
      padding: 0
      padding: 0 15px
    .score
      background: rgba(255,255,255,0.06)
      margin: 0
      padding: 0
      text-align: center
      width: 50px
    .delta, .status
      //raise(1)
      border-radius: 2px
      line-height: desktop-unit-frame-line-height
      margin: 0
      margin-left: 10px
      padding: 0 10px
      position: static
      text-align: center
    .delta
      animation: shiftLeft 0.5s 2.5s forwards
      padding: 0
      width: 45px
      &.preliminary
        background: rgba(96,96,96,0.5)
        color: color-secondary-text
    &.active
      background: none
      .main
        //background: hsla(hue, 60%, 30%, 1)
        //background: linear-gradient(transparent -20%, black 150%), linear-gradient(transparent -40%, hsl(119,100%,50%), hsl(119,100%,30%), hsl(119,100%,50%), transparent 140%)
        background: hsla(119,100%,20%,0.88)
  .unit-frame-picture
    //raise(2)
    border-radius: 100%
    font-size: desktop-unit-frame-picture-size * 0.5
    height: desktop-unit-frame-picture-size
    left: 0
    line-height: desktop-unit-frame-picture-size
    margin: 0
    margin-top: desktop-unit-frame-picture-size * -0.5
    position: absolute
    top: 50%
    width: desktop-unit-frame-picture-size
  #player
    bottom: desktop-unit-frame-margin-vertical
    .unit-frame-picture
      display: block
  #player-main
    padding-left: 10px
  #player-name
    display: none
  #opponent
    top: desktop-unit-frame-margin-vertical
  #opponent-status
    font-size: inherit
    line-height: inherit
    padding: 0 10px
    position: static
    right: auto
    top: auto
  #remaining
    background: none
    box-shadow: none
    color: color-text
    font-size: font-size-normal
    font-weight: 600
    //font-weight: 600
    //letter-spacing: 0.5px
    letter-spacing: normal
    line-height: tile-size
    pointer-events: none
    position: absolute
    right: 20px
    text-align: left
    text-transform: none
    //text-shadow: 0 0 1px black
    top: 10px
    width: auto
    z-index: 20
  #remaining-text
    display: inline
  #remaining-text-mobile
    display: none
  #app-bar
    raise(1)
    //background: none
    background: color-ui-6
    border: none
    //box-shadow: 0 0 2em rgba(0,0,0,0.24)
    padding: 10px 8px
    position: absolute
    left: 0
    right: 0
    top: 0
    width: auto
    z-index: 20
    &.app-bar-transparent
      background: none
      box-shadow: none
      left: auto
    .button
      //margin: 3px 5px
      margin: 0 4px
  #app-bar-lobby
    display: none
  #app-bar-game
    bottom: 10px
    display: block
    overflow: visible
    position: fixed
    right: 315px
    .button
      height: auto
      line-height: 42px
      margin: 0 5px
  #app-bar-common
    display: flex
    flex: 1 1 auto
    flex-direction: row-reverse
  #app-bar-leave-game
    display: block
  #menu
    animation: fadeIn 0.2s
    bottom: auto
    left: auto
    max-width: none
    pointer-events: auto
    position: absolute
    right: 8px
    top: 64px
    //width: 280px
  #menu-overlay
    background: none
    pointer-events: none
    position: static
    z-index: auto
  #menu-key-bindings
    display: block
  #opponent-chat
    display: none
  .options-mobile-only
    display: none
  #leave-game
    display: none
  #cookie-consent
    //bottom: 16px
    //width: 480px
    //width: 360px
    //margin-left: -240px


  /*#hourglass-sand
    animation: fadeOut20 1s both alternate infinite
    background: color-accent-two
    bottom: 0
    left: 0
    position: absolute
    right: 0
    top: 0
  */

  /*.theme-wood
    #ad
    #app-bar
      background: #262626
      //background: linear-gradient(90deg, rgba(0,0,0,0.6), rgba(0,0,0,0.2), rgba(0,0,0,0.6)), url('../images/themes/wood/wood.png')
      //background-size: auto, 194px 251px
      &.app-bar-transparent
        background: none*/

/* Larger than Desktop HD */
@media (min-width: 1200px)
  #ad
    display: flex

  .app-bar
    padding: 0
    button
      padding: 0 20px

@media (min-width: 1300px)
  #chat
    width: 360px
  #app-bar-game
    right: 375px

@media (min-width: 1400px)
  #player-name
    display: block
    max-width: 60px

@media (min-width: 1600px)
  #player-name
    max-width: 120px

@media (max-height: 400px)
  #rotate-screen
    display: flex

@media (max-height: 639px)
  #ad
    display: none
