@import 'normalize'
@import 'colors'
@import 'nib'

/* Transitions and Animations
 * -----------------------------------------------
 *
 *
 * Animations should be fast. Our standard animation duration is 0.2s.
 */

/* Z-Indexes
 * -----------------------------------------------
 * 
 * .rack .tile 10
 * .rack .tile.dragging or :hover 11
 * .cursor 12
 * .unit-frame 20
 * #opponent-chat 20
 * #remaining 20 // mobile: 21
 * #app-bar auto, 20 (desktop)
 * .game-message 30
 * #rotate-screen 40
 * #pass-overlay 40/  / desktop: auto
 * #chat-overlay 41  // desktop: auto
 * #chat 42
 * #overlay 50
 * #dust 60
 * #update 99
 */


/* Fonts
-------------------------------------------------- */
@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans/Light/OpenSans-Light.eot?v=1.1.0");
  src: url("../fonts/OpenSans/Light/OpenSans-Light.eot?#iefix&v=1.1.0") format("embedded-opentype"), url("../fonts/OpenSans/Light/OpenSans-Light.woff2?v=1.1.0") format("woff2"), url("../fonts/OpenSans/Light/OpenSans-Light.woff?v=1.1.0") format("woff"), url("../fonts/OpenSans/Light/OpenSans-Light.ttf?v=1.1.0") format("truetype"), url("../fonts/OpenSans/Light/OpenSans-Light.svg?v=1.1.0#Light") format("svg");
  font-weight: 300;
  font-style: normal; }
@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans/LightItalic/OpenSans-LightItalic.eot?v=1.1.0");
  src: url("../fonts/OpenSans/LightItalic/OpenSans-LightItalic.eot?#iefix&v=1.1.0") format("embedded-opentype"), url("../fonts/OpenSans/LightItalic/OpenSans-LightItalic.woff2?v=1.1.0") format("woff2"), url("../fonts/OpenSans/LightItalic/OpenSans-LightItalic.woff?v=1.1.0") format("woff"), url("../fonts/OpenSans/LightItalic/OpenSans-LightItalic.ttf?v=1.1.0") format("truetype"), url("../fonts/OpenSans/LightItalic/OpenSans-LightItalic.svg?v=1.1.0#LightItalic") format("svg");
  font-weight: 300;
  font-style: italic; }
@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans/Regular/OpenSans-Regular.eot?v=1.1.0");
  src: url("../fonts/OpenSans/Regular/OpenSans-Regular.eot?#iefix&v=1.1.0") format("embedded-opentype"), url("../fonts/OpenSans/Regular/OpenSans-Regular.woff2?v=1.1.0") format("woff2"), url("../fonts/OpenSans/Regular/OpenSans-Regular.woff?v=1.1.0") format("woff"), url("../fonts/OpenSans/Regular/OpenSans-Regular.ttf?v=1.1.0") format("truetype"), url("../fonts/OpenSans/Regular/OpenSans-Regular.svg?v=1.1.0#Regular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans/Italic/OpenSans-Italic.eot?v=1.1.0");
  src: url("../fonts/OpenSans/Italic/OpenSans-Italic.eot?#iefix&v=1.1.0") format("embedded-opentype"), url("../fonts/OpenSans/Italic/OpenSans-Italic.woff2?v=1.1.0") format("woff2"), url("../fonts/OpenSans/Italic/OpenSans-Italic.woff?v=1.1.0") format("woff"), url("../fonts/OpenSans/Italic/OpenSans-Italic.ttf?v=1.1.0") format("truetype"), url("../fonts/OpenSans/Italic/OpenSans-Italic.svg?v=1.1.0#Italic") format("svg");
  font-weight: normal;
  font-style: italic; }
@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans/Semibold/OpenSans-Semibold.eot?v=1.1.0");
  src: url("../fonts/OpenSans/Semibold/OpenSans-Semibold.eot?#iefix&v=1.1.0") format("embedded-opentype"), url("../fonts/OpenSans/Semibold/OpenSans-Semibold.woff2?v=1.1.0") format("woff2"), url("../fonts/OpenSans/Semibold/OpenSans-Semibold.woff?v=1.1.0") format("woff"), url("../fonts/OpenSans/Semibold/OpenSans-Semibold.ttf?v=1.1.0") format("truetype"), url("../fonts/OpenSans/Semibold/OpenSans-Semibold.svg?v=1.1.0#Semibold") format("svg");
  font-weight: 600;
  font-style: normal; }
@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans/SemiboldItalic/OpenSans-SemiboldItalic.eot?v=1.1.0");
  src: url("../fonts/OpenSans/SemiboldItalic/OpenSans-SemiboldItalic.eot?#iefix&v=1.1.0") format("embedded-opentype"), url("../fonts/OpenSans/SemiboldItalic/OpenSans-SemiboldItalic.woff2?v=1.1.0") format("woff2"), url("../fonts/OpenSans/SemiboldItalic/OpenSans-SemiboldItalic.woff?v=1.1.0") format("woff"), url("../fonts/OpenSans/SemiboldItalic/OpenSans-SemiboldItalic.ttf?v=1.1.0") format("truetype"), url("../fonts/OpenSans/SemiboldItalic/OpenSans-SemiboldItalic.svg?v=1.1.0#SemiboldItalic") format("svg");
  font-weight: 600;
  font-style: italic; }
@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans/Bold/OpenSans-Bold.eot?v=1.1.0");
  src: url("../fonts/OpenSans/Bold/OpenSans-Bold.eot?#iefix&v=1.1.0") format("embedded-opentype"), url("../fonts/OpenSans/Bold/OpenSans-Bold.woff2?v=1.1.0") format("woff2"), url("../fonts/OpenSans/Bold/OpenSans-Bold.woff?v=1.1.0") format("woff"), url("../fonts/OpenSans/Bold/OpenSans-Bold.ttf?v=1.1.0") format("truetype"), url("../fonts/OpenSans/Bold/OpenSans-Bold.svg?v=1.1.0#Bold") format("svg");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans/BoldItalic/OpenSans-BoldItalic.eot?v=1.1.0");
  src: url("../fonts/OpenSans/BoldItalic/OpenSans-BoldItalic.eot?#iefix&v=1.1.0") format("embedded-opentype"), url("../fonts/OpenSans/BoldItalic/OpenSans-BoldItalic.woff2?v=1.1.0") format("woff2"), url("../fonts/OpenSans/BoldItalic/OpenSans-BoldItalic.woff?v=1.1.0") format("woff"), url("../fonts/OpenSans/BoldItalic/OpenSans-BoldItalic.ttf?v=1.1.0") format("truetype"), url("../fonts/OpenSans/BoldItalic/OpenSans-BoldItalic.svg?v=1.1.0#BoldItalic") format("svg");
  font-weight: bold;
  font-style: italic; }
@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans/ExtraBold/OpenSans-ExtraBold.eot?v=1.1.0");
  src: url("../fonts/OpenSans/ExtraBold/OpenSans-ExtraBold.eot?#iefix&v=1.1.0") format("embedded-opentype"), url("../fonts/OpenSans/ExtraBold/OpenSans-ExtraBold.woff2?v=1.1.0") format("woff2"), url("../fonts/OpenSans/ExtraBold/OpenSans-ExtraBold.woff?v=1.1.0") format("woff"), url("../fonts/OpenSans/ExtraBold/OpenSans-ExtraBold.ttf?v=1.1.0") format("truetype"), url("../fonts/OpenSans/ExtraBold/OpenSans-ExtraBold.svg?v=1.1.0#ExtraBold") format("svg");
  font-weight: 800;
  font-style: normal; }
@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans/ExtraBoldItalic/OpenSans-ExtraBoldItalic.eot?v=1.1.0");
  src: url("../fonts/OpenSans/ExtraBoldItalic/OpenSans-ExtraBoldItalic.eot?#iefix&v=1.1.0") format("embedded-opentype"), url("../fonts/OpenSans/ExtraBoldItalic/OpenSans-ExtraBoldItalic.woff2?v=1.1.0") format("woff2"), url("../fonts/OpenSans/ExtraBoldItalic/OpenSans-ExtraBoldItalic.woff?v=1.1.0") format("woff"), url("../fonts/OpenSans/ExtraBoldItalic/OpenSans-ExtraBoldItalic.ttf?v=1.1.0") format("truetype"), url("../fonts/OpenSans/ExtraBoldItalic/OpenSans-ExtraBoldItalic.svg?v=1.1.0#ExtraBoldItalic") format("svg");
  font-weight: 800;
  font-style: italic; }

/* Geometry
-------------------------------------------------- */
tile-size = 40px
rack-bottom-height = 10px
desktop-unit-frame-picture-size = 52px
desktop-unit-frame-picture-size = 46px
desktop-unit-frame-line-height = 28px
desktop-unit-frame-margin-vertical = (tile-size - desktop-unit-frame-line-height) * 0.5 + rack-bottom-height
desktop-unit-frame-margin-horizontal = desktop-unit-frame-margin-vertical - ((desktop-unit-frame-picture-size - desktop-unit-frame-line-height) * 0.5)

/* Colors
-------------------------------------------------- */
hue = 219
color-0 = hsl(hue, 100%, 50%)
color-1 = spin(color-0, 120deg)
color-2 = spin(color-0, 240deg)
color-3 = spin(color-0, 180deg)

color-ui-0 = hsl(219, 8%, 12%)
color-tile = hsl(39, 20%, 75%)

// TODO REMOVE
color-accent = hsl(hue, 100%, 60%)
color-accent-two = #FF4500
color-accent-three = #FFBE00

color-text = hsl(0, 0%, 95%)
color-text = white
color-secondary-text = hsla(0, 0%, 95%, 0.7)
color-disabled-text = hsla(0, 0%, 95%, 0.3)

color-divider = rgba(255,255,255,0.12)
color-secondary-text-dark = rgba(0,0,0,0.54)
color-divider-dark = rgba(0,0,0,0.12)

/* Shadows
-------------------------------------------------- */
raise(z)
  if z == 1
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24)
  else if z == 2
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  else if z == 3
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23)
  else if z == 4
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22)
  else if z == 5
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22)

filter(n)
  -webkit-filter: n
  filter: n

roundedCorners()
  border-radius: 2px

/* Scrollbar
-------------------------------------------------- */
.window-content
#chat-messages
.page
  &::-webkit-scrollbar
    width: 10px
    height: 10px
  &::-webkit-scrollbar-thumb
    roundedCorners()
    background-color: rgba(255,255,255,0.12)
    border: 3px solid transparent
    background-clip: padding-box
    &:hover
      background-color: rgba(255,255,255,0.24)
    &:active
      background-color: rgba(255,255,255,0.48)
  &::-webkit-scrollbar-corner
    background-color: transparent

/* Android Fix
-------------------------------------------------- */
*
  text-size-adjust: none !important

/* Animations
-------------------------------------------------- */
@keyframes fadeIn
  from
    opacity: 0
  to
    opacity: 1
@keyframes slideInTop
  from
    transform: translateY(-100%)
  to
    transform: translateY(0)
@keyframes bounceIn
  0%, 20%, 40%, 60%, 80%, 100%
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000)
  0%
    opacity: 0
    transform: scale3d(.3, .3, .3)
  20%
    transform: scale3d(1.1, 1.1, 1.1)
  40%
    transform: scale3d(.9, .9, .9)
  60%
    opacity: 1
    transform: scale3d(1.03, 1.03, 1.03)
  80%
    transform: scale3d(.97, .97, .97)
  100%
    opacity: 1
    transform: scale3d(1, 1, 1)
@keyframes bounceInFadeOut
  0%
    opacity: 0
    transform: scale(0.3)
  5%
    opacity: 1
    transform: scale(1.05)
  7%
    transform: scale(0.9)
  10%
    transform: scale(1)
  90%
    opacity: 1
    transform: scale(1)
  100%
    opacity: 0
    transform: scale(1.5)
@keyframes scaleIn
  from
    opacity: 0
    transform: translateY(-100px) rotateX(45deg)
  to
    opacity: 1
    transform: translateY(0) rotateX(0)
@keyframes zoomIn
  0%
    opacity: 0
    transform: scale3d(.3, .3, .3)
  50%
    opacity: 1
@keyframes fadeOutLeft
  from
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
    opacity: 1
    transform: translateX(100px)
  60%
    animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
    opacity: 1
    transform: translateX(0) scale(1)
  to
    opacity: 0
    transform: translateX(0) scale(2)
@keyframes fadeOut
  from
    opacity: 1
  to
    opacity: 0
  
@keyframes shiftLeft
  from
    opacity: 1
    transform: translateX(0)
  to
    opacity: 0
    transform: translateX(-10px) translateX(-100%)
@keyframes dustWave
  from
    opacity: 1
    transform: scale(0.5)
  to
    opacity: 0
    transform: scale(2)
@keyframes rotateInLeft
  from
    opacity: 0
    transform: rotateY(90deg)
  to
    opacity: 1
    transform: rotateY(0deg)
@keyframes superNova
  from
    box-shadow: 0 0 0em black, 0 0 0em hsl(39, 100%, 70%)
  50%
    box-shadow: 0 0 0.5em black, 0 0 2em hsl(39, 100%, 70%)
    opacity: 1
  to
    opacity: 0
@keyframes bonusStart
  from
    opacity: 0.2
  to
    opacity: 1
@keyframes droppedTile
  from
    opacity: 1
  to
    opacity: 0.7
@keyframes tileSubmitted
  from
    background-color: white
    background-image: none
  to
    background-color: hsl(39, 80%, 72%)
    background-image: radial-gradient(circle at 50% 0, hsla(39, 80%, 80%, 1), transparent 100%)
@keyframes fadeInLogo
  from
    opacity: 0
    transform: translateX(-25%)
  to
    opacity: 1

/* Base Styles
-------------------------------------------------- */
html
  background: black
  color: color-text
  cursor: default
  font-size: 13px
  font-family: 'Open Sans', 'Source Sans Pro', 'Lato', 'Roboto', 'Arial', sans-serif
  font-weight: 400
  height: 100vh
  overflow-y: hidden
  perspective: 1000px
  user-select: none
  
.hide
  display: none !important
.notransition *
  transition: none !important

/* Typography
-------------------------------------------------- */
// Font scale is 1.25
font-size-tiny = 7px
font-size-smaller = 8px
font-size-small = 10px
font-size-normal = 13px
font-size-large = 16px
font-size-larger = 20px
font-size-huge = 25px
font-size-full-screen-message = 39px

font-size-tiny = 7px
font-size-smaller = 9px
font-size-small = 11px
font-size-normal = 14px
font-size-large = 18px
font-size-larger = 22px
font-size-huge = 27px
font-size-full-screen-message = 43px

// scale 1.125
font-size-small = 12px
font-size-normal = 14px
font-size-large = 16px
font-size-larger = 18px
font-size-huge = 20px
font-size-full-screen-message = 40px
font-size-title = 45px

// scale 1.125
font-size-small = 11px
font-size-normal = 13px
font-size-large = 1.125rem
font-size-larger = 1.125rem * 1.125
font-size-huge = 1.125rem * 1.125 * 1.125
font-size-full-screen-message = 40px
font-size-title = 45px

// scale 1.2
font-size-small = 11px
font-size-normal = 13px
font-size-large = 16px
font-size-larger = 19px
font-size-huge = 22px
font-size-full-screen-message = 32px
font-size-title = 32px

b
  font-weight: 600
h1
  font-size: font-size-huge
  font-weight: 600
  line-height: 20px
  margin: 0
  margin-bottom: 20px
h2
  font-size: font-size-large * 1.2
  font-weight: 600
  line-height: 20px
  margin: 0
  margin-bottom: 20px
small
  font-size: font-size-small
ol, ul
  margin: 0
  margin-bottom: 20px
  li
    line-height: 20px
p
  line-height: 20px
  margin: 0
  margin-bottom: 20px
.secondary
  color: color-secondary-text
.large
  font-size: font-size-large

/* Tables
-------------------------------------------------- */
caption
  @extend h2
  margin-top: 0
  text-align: left
table
  margin: 0
  margin-bottom: 20px
tr
  border-bottom: 1px solid rgba(255,255,255,0.05)
th, td
  line-height: 20px
  padding: 0 10px

/* Links
-------------------------------------------------- */
a
  color: color-accent
  text-decoration: none
  &:hover
    color: lighten(@color, 20%)
    text-decoration: underline

/* Buttons
-------------------------------------------------- */
.button
  background-color: rgba(255,255,255,0.12)
  background-image: linear-gradient(transparent, rgba(0,0,0,0.24))
  box-shadow: inset 0 0 0 1px rgba(255,255,255,0.05)
  border: none
  border-radius: 2px
  color: color-text
  cursor: pointer
  display: inline-block
  font-size: font-size-small
  font-weight: 600
  height: 36px
  line-height: 36px
  outline: none
  overflow: hidden
  margin: 2px 0
  padding: 0 30px
  text-overflow: ellipsis
  text-transform: uppercase
  vertical-align: middle
  white-space: nowrap
  .disabled.button-text
    display: none
  &:focus
    background-color: rgba(255,255,255,0.14)
  &:hover
    background-color: rgba(255,255,255,0.16)
    box-shadow: inset 0 0 0 1px rgba(255,255,255,0.1)
    text-decoration: none
    color: color-text
  &:active
    background-color: rgba(255,255,255,0.06)
    background-image: linear-gradient(rgba(0,0,0,0.24), transparent)
    box-shadow: inset 0 0 0 1px rgba(255,255,255,0.1)
    color: color-text
  &:disabled
    background-color: @background-color !important
    background-image: none !important
    box-shadow: none !important
    color: color-disabled-text !important
    cursor: default
    .enabled.button-text
      display: none
    .disabled.button-text
      display: inline
.button-primary
  background-color: color-accent
  color: color-text
  font-weight: 600
  position: relative
  &:focus
    background-color: tint(@background-color, 6%)
  &:hover
    background-color: tint(@background-color, 12%)
  &:active
    background-color: shade(@background-color, 18%)
  &:disabled:after
    display: none
.button-group
  .button
    margin-right: 10px
.donate
  display: flex
  margin-bottom: 0
  a
    background-color: #FFA926
    background-image: linear-gradient(transparent 72%, #FFF1DB)
    border: 1px solid #FF9933
    border-radius: 12px
    color: #003366
    display: inline-block
    font-family: 'Arial', 'Helvetica', sans-serif
    font-size: 15px
    font-style: italic
    font-weight: 600
    line-height: 24px
    margin: 0 5px
    padding: 0 20px
    position: relative
    overflow: hidden
    transition: box-shadow 0.4s
    &:hover
      box-shadow: 0 0 1em white
      text-decoration: none
    &:before
      background-image: linear-gradient(#FFFDF8, #FEDFA1)
      border-bottom: 1px solid #FED284
      border-radius: 13px
      content: ''
      height: 13px
      left: 2px
      position: absolute
      top: 0
      right: 2px
  span
    position: relative
    z-index: 1

/* Toggles
-------------------------------------------------- */
.toggle
  .toggle-enabled
  .toggle-disabled
    margin-left: 2px
  .toggle-enabled
    color: color-accent
  .toggle-disabled
    color: color-accent-three
  .toggle-enabled
    display: none
  &.is-enabled
    .toggle-enabled
      display: inline
    .toggle-disabled
      display: none

/* Tabs
-------------------------------------------------- */
.tabs
  list-style-type: none
  margin: 0
  padding: 0
  li
    display: inline-block
    margin-right: 20px
    &:last-child
      margin-right: 0
  button
    background: none
    border: none
    box-shadow: none
    color: color-text
    font-size: font-size-small
    font-weight: 400
    line-height: 30px
    margin-bottom: 10px
    outline: none
    padding: 0
    text-transform: uppercase
    transition: box-shadow 0.1s
    &:disabled
      display: none
    &:hover
    &.selected
      box-shadow: inset 0 -2px color-accent

/* Forms
-------------------------------------------------- */
form
  margin: 0
  margin-bottom: 20px
input[type='email']
input[type='number']
input[type='search']
input[type='text']
input[type='tel']
input[type='url']
input[type='password']
textarea
select
  background-color: rgba(0,0,0,0.24)
  border: none
  border-radius: 2px
  box-sizing: border-box
  color: color-text
  height: 20px*1.8
  margin: 20px*0.1 0
  padding: 20px*0.1 20px*0.3
  resize: vertical
  transition: background-color 0.1s
  width: 100%
  &:focus
    outline: none
    background-color: rgba(0,0,0,0.24)
input[type='email']
input[type='number']
input[type='search']
input[type='text']
input[type='tel']
input[type='url']
input[type='password']
textarea
  appearance: none
textarea
  min-height: 65px
  padding-top: 6px
  padding-bottom: 6px
label
legend
  color: color-secondary-text
  display: block
  font-weight: 400
  line-height: 20px
  margin-top: 10px
  text-transform: uppercase
  font-size: font-size-small
option
  border-radius: 2px

/* Flex
-------------------------------------------------- */
.row
  display: flex
  flex-wrap: wrap
  &.valign-baseline
    align-items: baseline

/* Windows
-------------------------------------------------- */
.window
  raise(5)
  roundedCorners()
  animation: zoomIn 0.4s
  backface-visibility: hidden
  background: hsla(hue, 8%, 16%,0.9)
  border: 1px solid rgba(255,255,255,0.05)
  box-sizing: border-box
  color: color-text
  display: flex
  flex-direction: column
  flex: 0 1 auto
  max-width: 600px
  overflow: hidden
  position: relative
  .button
    color: color-text
.window-header
  background: hsla(hue, 8%, 32%, 0.8)
  display: flex
  flex: 0 0 auto
  justify-content: flex-end
  h1
    color: inherit
    font-weight: 600
    font-size: font-size-small
    flex: 1 0 auto
    line-height: 30px
    margin: 0
    margin-left: 60px
    text-align: center
    text-transform: uppercase
.window-content
  cursor: auto
  flex: 1 1 auto
  overflow: hidden
  overflow-y: auto
  padding: 20px
  padding-bottom: 0
  user-select: initial
.window-actions
  margin-top: 10px
.window-footer
  border-top: 1px solid color-divider
  color: color-secondary-text
  font-size: font-size-small
  line-height: 20px
  margin: 0
  margin-top: 30px
  padding: 20px 0
  padding-top: 10px
#overlay
  align-items: center
  background: rgba(0,0,0,0.7)
  bottom: 0
  display: flex
  flex-direction: column
  justify-content: center
  left: 0
  outline: none
  padding: 5px
  position: absolute
  right: 0
  top: 0
  z-index: 50
#alert
  align-items: center
  bottom: 0
  display: flex
  justify-content: center
  left: 0
  position: absolute
  right: 0
  top: 0
.window-button-group
  margin-bottom: 20px
  .button
    margin-right: 20px * 0.5
.window-close
  @extend .button
  background: none
  border: none
  border-radius: 0
  box-shadow: none
  color: inherit
  flex: 0 0 auto
  font-size: font-size-small
  line-height: 30px
  height: 30px
  margin: 0
  outline: none
  padding: 0
  text-align: center
  width: 60px
#pass-overlay
  align-items: center
  animation: fadeIn 0.2s
  background: rgba(0,0,0,0.6)
  bottom: 0
  display: flex
  flex-direction: column
  justify-content: center
  left: 0
  position: absolute
  right: 0
  top: 0
  z-index: 40
.game-window
  margin: 0
  flex: 0 0 auto
  .rack:before
    display: none
#update
  animation: fadeIn 0.2s
  align-items: center
  background-color: rgba(0,0,0,0.9)
  bottom: 0
  display: flex
  flex-direction: column
  justify-content: center
  left: 0
  padding: 20px
  position: fixed
  right: 0
  text-align: center
  top: 0
  z-index: 99
  p
    max-width: 640px
  button
    margin-right: 10px
    &:last-child
      margin-right: 0
  

/* Lists
-------------------------------------------------- */
.list
  list-style-type: none
  padding: 0
  li
    line-height: 40px
    border-bottom: 1px solid rgba(255,255,255,0.1)
    &:first-child
      border-top: 1px solid rgba(255,255,255,0.1)
  .button
    line-height: 20px * 1.4
    height: 20px * 1.4

/* Layout
-------------------------------------------------- */
#main
  background: none
  display: flex
  flex-direction: column
  height: 100vh
  width: 100vw
.chrome #main.blur
  filter: blur(10px)
.page
  animation: fadeIn 1s
  background-color: hsl(hue, 30%, 22%)
  display: flex
  flex: 1 1 auto
  flex-direction: column
  overflow: auto
  position: relative

/* App Bar
-------------------------------------------------- */
#app-bar
  background: color-ui-0
  box-sizing: border-box
  display: flex
  flex: 0 0 auto
  justify-content: space-between
  list-style-type: none
  margin: 0
  padding: 10px 5px
  width: 100%
  li
    margin: 0
    padding: 0
  .button
    margin: 0 5px
    padding-left: 15px
    padding-right: 15px
#app-bar-lobby
  align-items: center
  display: flex
  overflow: hidden
  justify-content: flex-end
#app-bar-game
  display: flex
  overflow: hidden
#app-bar-challenges
  &.important
    animation: bounceIn 0.4s
    background-color: color-accent-two
    color: color-text
    &:hover
      background-color: lighten(color-accent-two, 10%)
    &:active
      background-color: shade(color-accent-two, 20%)
#more
  &.updated
    background-color: color-accent

/* Menu
-------------------------------------------------- */
#menu
  box-sizing: border-box
  flex: 0 1 auto
  transform: translateX(0)
  transition: transform 0.2s
  width: 240px
  i.fa
    margin-left: 5px
  i.fa.fa-external-link
    color: tint(color-0,50%)
  h1
    margin-left: 0
    text-transform: uppercase
  ul
    list-style-type: none
    margin-bottom: 10px
    padding: 0
  .button
    border: none
    box-sizing: border-box
    padding: 0 10px
    text-align: center
    width: 100%
  .window-header
    text-align: center
  .window-content
    border-radius: 2px
    padding: 10px
    padding-bottom: 0
    user-select: none
#menu-key-bindings
  display: none

/* Start Page
-------------------------------------------------- */
#start
  display: flex
  flex-direction: column
  overflow-y: auto
#start-content
  display: flex
  flex: 1 0 auto
  flex-direction: column
  justify-content: center
  padding: 0 10px
#start-icon
  animation: fadeInLogo 1s
  margin-right: 20px
  img
    display: block
    width: 76px
    height: 76px
#start-logo
  align-items: center
  display: flex
  flex: 0 0 auto
  justify-content: center
  margin: 0 auto
  margin-bottom: 40px
  margin-top: 20px
  h1
    color: color-text
    font-size: 40px
    font-size: 27px
    font-weight: 800
    margin: 0
    line-height: 1.3
    text-transform: uppercase
.start-logo-line
  display: inline-block
  //animation: zoomIn 0.5s
  //&:nth-child(3)
  //  animation: zoomIn 0.5s 0.2s both
    
.start-display
  align-items: center
  color: color-accent-two
  display: flex
  flex: 0 0 100px
  flex-direction: column
  justify-content: center
  text-align: center
  margin-bottom: 40px
#start-login
  color: color-text
  align-items: center
  display: flex
  flex: 0 0 auto
  flex-direction: column
  .row
    align-items: baseline
    flex-wrap: nowrap
    margin-bottom: 0
    padding: 0 20px
    > *
      margin-right: 20px
      &:last-child
        margin-right: 0
  #start-user-login
  #start-guest-login-beta
    align-items: flex-end
    animation: fadeIn 0.4s
    border-radius: 10px
    padding: 20px
  label
    margin-top: 0
    text-align: left
#start-register-button
  background-color: darken(#dd4b39, 5%)
  color: color-text
  &:hover
    background-color: tint(@background-color, 10%)
    text-shadow: none
  &:active
    background-color: shade(@background-color, 10%)
    text-shadow: none
#start-overlay
  align-items: center
  background: rgba(0,0,0,0.5)
  bottom: 0
  display: flex
  flex-direction: column
  justify-content: center
  left: 0
  overflow: auto
  position: absolute
  right: 0
  top: 0
#start-guest-login
  width: 400px
  p
    font-size: font-size-large
#start-guest-login-form
  align-items: flex-end
  display: flex
  flex-direction: row
  div
    flex: 1 1 auto
    margin-right: 20px
  label
    margin-top: 0
  button
    flex: 0 0 auto
#start-blog
  color: color-secondary-text
  display: flex
  flex: 0 0 auto
  flex-direction: column
  min-height: 60px
  justify-content: flex-end
  padding: 0 10px
  text-align: center
.start-blog-post
  animation: fadeIn 0.4s
  margin-bottom: 20px
  header
    display: inline-block
  time
    font-weight: 600
    margin-right: 10px
  h1
    display: inline-block
    font-size: inherit
    font-weight: inherit
    margin: 0
    margin-right: 10px
  p
    display: inline-block
    margin: 0

/* Lobby Page
-------------------------------------------------- */
#lobby
  //background: radial-gradient(circle at calc(50% - 450px) 0, rgba(89,116,166,1), transparent 300px), radial-gradient(circle at calc(50% + 450px) 0, rgba(89,116,166,1), transparent 300px), radial-gradient(circle at 50% 0, rgba(89,116,166,1), transparent 300px), linear-gradient(hsl(219, 30%, 15%), black)
  display: flex
  flex-direction: column
  overflow-y: auto
  h1
    font-size: font-size-huge
    margin: 20px auto 40px
    text-align: center
  p
    font-size: font-size-large
    margin-top: 0
    text-align: center
#lobby-content
  flex: 1 0 auto
  padding: 0 10px
  padding-top: 20px
#lobby-bottom
  flex: 0 0 auto
.lobby-clients
  flex-wrap: wrap
  margin-bottom: 40px
.lobby-client
  flex: 1 1 300px
  height: 100px
  margin: 0 auto 10px auto
  max-width: 300px
  outline: none
  position: relative
  transition: box-shadow 0.2s, transform 0.4s
  transform-style: preserve-3d
  &.is-inspected
    transform: rotateY(180deg)
  .lobby-client-challenge
    display: none
  .lobby-client-unchallenge
    display: none
  .lobby-client-accept
    display: none
.lobby-client-picture
  background-color: #eee
  border-radius: 50%
  color: #222
  flex: 0 0 auto
  font-size: 40px
  height: 80px
  line-height: 80px
  margin: 10px
  pointer-events: none
  text-align: center
  width: 80px
img.lobby-client-picture
  background: rgba(0,0,0,0.5)
.lobby-client-content
  background: rgba(0,0,0,0.1)
  border-left: 1px solid rgba(0,0,0,0.3)
  display: flex
  flex: 1 1 auto
  flex-direction: column
  justify-content: space-between
  overflow: hidden
  padding: 10px
.lobby-client-name
  color: color-text
  font-size: font-size-large
  font-weight: 600
  line-height: 20px
  overflow: hidden
  text-overflow: ellipsis
  white-space: nowrap
.lobby-client-status
  color: color-secondary-text
  font-size: font-size-normal
  line-height: 20px
  overflow: hidden
  text-overflow: ellipsis
  white-space: nowrap
.lobby-client-button
  flex: 0 0 auto
  height: 30px
  line-height: 100%
  padding: 0 5px
.lobby-client-unchallenge
  background-color: color-accent
  &:hover
    background-color: lighten(color-accent, 10%)
  &:active
    background-color: shade(color-accent, 20%)
.lobby-client-accept
  background-color: color-accent-two
  &:hover
    background-color: lighten(color-accent-two, 10%)
  &:active
    background-color: shade(color-accent-two, 20%)
.lobby-client.available
  .lobby-client-challenge
    display: block
  &.self
    .lobby-client-challenge
      display: none
.lobby-client.challenged
  .lobby-client-face
    background-color: rgba(darken(color-accent, 50%), 0.5)
  .lobby-client-challenge
    display: none
  .lobby-client-unchallenge
    display: block
  .lobby-client-accept
    display: none
.lobby-client.challenger
  .lobby-client-face
    background-color: rgba(darken(color-accent-two, 50%), 0.5)
  .lobby-client-challenge
    display: none
  .lobby-client-unchallenge
    display: none
  .lobby-client-accept
    display: block
.lobby-client-face
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23), inset 0 0 0 1px rgba(255,255,255,0.05);
  background-color: rgba(color-ui-0, 0.8)
  border-radius: 8px
  transition: background-color 0.2s
.lobby-client-front
  backface-visibility: hidden
  bottom: 0
  display: flex
  position: absolute
  left: 0
  right: 0
  top: 0
  transform: rotateY(0)
.lobby-client-back
  backface-visibility: hidden
  bottom: 0
  position: absolute
  left: 0
  padding: 10px
  right: 0
  top: 0
  transform: rotateY(180deg)
  
/* Game Page
-------------------------------------------------- */
#game
  align-items: stretch
  display: flex
  flex-direction: column
  outline: none
#canvas
  display: flex
  flex: 1 1 auto
  flex-direction: column
  overflow: hidden
#dust
  animation: dustWave 1.2s forwards
  backface-visibility: hidden
  box-shadow: inset 0 0 0.5em rgba(255,255,255,0.2)
  border-radius: 100%
  height: 2em
  pointer-events: none
  position: absolute
  transform: scale(1)
  width: 2em
  z-index: 60
#table
  flex: 1 1 auto
  overflow: hidden
  position: relative
#table-content
  bottom: 0
  display: flex
  flex-direction: column
  left: 0
  position: absolute
  right: 0
  top: 0
.chrome #table-content.blur
  //filter: blur(10px)
.table-top
  align-items: center
  display: flex
  flex-direction: column
  flex: 0 0 auto
.table-center
  align-items: center
  display: flex
  flex: 1 1 auto
  flex-direction: column
  justify-content: center
  overflow: hidden
.table-bottom
  align-items: center
  display: flex
  flex: 0 0 auto
  flex-direction: column
  width: 100%
.board
  background-color: hsl(hue, 20%, 30%)
  background-size: 20%
  border: 1px solid rgba(255,255,255,0.05)
  border-radius: 2px
  box-shadow: 0 0.2em 0.6em rgba(0,0,0,0.24)
  flex: 0 0 auto
  height: calc(30em + 16px)
  width: calc(30em + 16px)
  padding: 0.5em
.squares-container
  background-color: tint(hsl(hue, 8%, 12%), 5%)
  background-color: hsl(hue, 8%, 12%)
  height: calc(30em + 16px)
  position: absolute
  width: calc(30em + 16px)
.squares
  left: 0
  bottom: 0
  position: absolute
  right: 0
  top: 0
  z-index: 1
.square
  box-shadow: 0 0 0 1px tint(hsl(hue, 8%, 12), 5%)
  height: 2em
  position: absolute
  width: 2em
  &:nth-child(15n+1)
    left: calc(1px)
  &:nth-child(15n+2)
    left: calc(2em + 2px)
  &:nth-child(15n+3)
    left: calc(4em + 3px)
  &:nth-child(15n+4)
    left: calc(6em + 4px)
  &:nth-child(15n+5)
    left: calc(8em + 5px)
  &:nth-child(15n+6)
    left: calc(10em + 6px)
  &:nth-child(15n+7)
    left: calc(12em + 7px)
  &:nth-child(15n+8)
    left: calc(14em + 8px)
  &:nth-child(15n+9)
    left: calc(16em + 9px)
  &:nth-child(15n+10)
    left: calc(18em + 10px)
  &:nth-child(15n+11)
    left: calc(20em + 11px)
  &:nth-child(15n+12)
    left: calc(22em + 12px)
  &:nth-child(15n+13)
    left: calc(24em + 13px)
  &:nth-child(15n+14)
    left: calc(26em + 14px)
  &:nth-child(15n+15)
    left: calc(28em + 15px)
  &:nth-child(n+1):nth-child(-n+15)
    top: calc(1px)
  &:nth-child(n+16):nth-child(-n+30)
    top: calc(2em + 2px)
  &:nth-child(n+31):nth-child(-n+45)
    top: calc(4em + 3px)
  &:nth-child(n+46):nth-child(-n+60)
    top: calc(6em + 4px)
  &:nth-child(n+61):nth-child(-n+75)
    top: calc(8em + 5px)
  &:nth-child(n+76):nth-child(-n+90)
    top: calc(10em + 6px)
  &:nth-child(n+91):nth-child(-n+105)
    top: calc(12em + 7px)
  &:nth-child(n+106):nth-child(-n+120)
    top: calc(14em + 8px)
  &:nth-child(n+121):nth-child(-n+135)
    top: calc(16em + 9px)
  &:nth-child(n+136):nth-child(-n+150)
    top: calc(18em + 10px)
  &:nth-child(n+151):nth-child(-n+165)
    top: calc(20em + 11px)
  &:nth-child(n+166):nth-child(-n+180)
    top: calc(22em + 12px)
  &:nth-child(n+181):nth-child(-n+195)
    top: calc(24em + 13px)
  &:nth-child(n+196):nth-child(-n+210)
    top: calc(26em + 14px)
  &:nth-child(n+211):nth-child(-n+225)
    top: calc(28em + 15px)
  &.is-factored-in
    &:before
      animation: superNova 4s
      bottom: 0
      content: ''
      left: 0
      position: absolute
      right: 0
      top: 0
      z-index: 1
  &.is-submitted
    .tile
      animation: tileSubmitted 2s
      background-color: hsl(39, 80%, 70%) // remember to update animations
      background-image: radial-gradient(circle at 50% 0, hsla(39, 80%, 80%, 1), transparent 100%)
      box-shadow: 0 0 0 1px hsl(39, 20%, 50%)
.bonus-marker
  border-radius: 100%
  box-shadow: inset 0 0 0 1px rgba(255,255,255,0.2)
  font-weight: 400
  height: 66.667%
  left: 50%
  margin-left: -33.333%
  margin-top: -33.333%
  position: absolute
  top: 50%
  width: 66.667%
.bonus-text-container
  align-items: center
  bottom: 0
  display: flex
  justify-content: center
  left: 0
  position: absolute
  right: 0
  top: 0
.bonus-text
  font-size: 0.556em
  font-weight: 400
  text-align: center
  text-shadow: 0 0 0.5em rgba(0,0,0,0.5)
  

bonus = 0
dl = bonus + 39
tl = bonus + 144
dw = bonus + 210
tw = bonus


.bonus.dl
  .bonus-marker
    box-shadow: inset 0 0 0 1px hsl(dl, 20%, 30%)
  .bonus-text
    color: hsl(dl, 20%, 80%)
.bonus.tl
  .bonus-marker
    box-shadow: inset 0 0 0 1px hsl(tl, 20%, 30%)
  .bonus-text
    color: hsl(tl, 30%, 80%)
.bonus.dw
  .bonus-marker
    background: hsl(dw, 40%, 50%)
  .bonus-text
    color: white
.bonus.tw
  .bonus-marker
    background: hsl(tw, 60%, 50%)
  .bonus-text
    color: white
.bonus.start
  .bonus-marker
    background: hsl(bonus + 30, 60%, 50%)
  .bonus-text
    color: white



.tile
  background-color: color-tile
  background-image: radial-gradient(circle at 50% 0, hsla(39,20%,95%,1), transparent 100%)
  box-shadow: 0 0 0 1px hsl(39, 0%, 54%)
  color: #444
  font-weight: 800
  height: 2em
  outline: none
  position: relative
  text-align: center
  text-shadow: 0 0 1px white
  transform-origin: 0 0
  transition: transform 0.3s, fontSize 0.3s
  width: 2em
  z-index: 2
  &.two
    color: hsl(35, 63%, 41%)
  &.three
    color: hsl(199, 67%, 43%)
  &.four
    color: hsl(0, 75%, 71%)
  &[data-position='0']
    transform: translateX(1px)
  &[data-position='1']
    transform: translateX(2em) translateX(2px)
  &[data-position='2']
    transform: translateX(4em) translateX(3px)
  &[data-position='3']
    transform: translateX(6em) translateX(4px)
  &[data-position='4']
    transform: translateX(8em) translateX(5px)
  &[data-position='5']
    transform: translateX(10em) translateX(6px)
  &[data-position='6']
    transform: translateX(12em) translateX(7px)
  &[data-target]
    background-color: white
    background-image: none
.tile-text
  font-size: 1.2em
  line-height: 1.66666667
.tile-value
  bottom: 0.05em
  font-weight: 400
  height: 1em
  left: 0
  line-height: 1
  overflow: hidden
  position: absolute
  right: 0
  text-align: center
.rack
  font-size: 22px
  height: 2em
  margin-bottom: 3px
  position: relative
  width: calc(14em + 8px)
  &:before
    raise(1)
    background: rgba(255,255,255,0.1)
    box-shadow: 0 0.2em 0.6em rgba(0,0,0,0.24)
    border-top-left-radius: 2px
    border-top-right-radius: 2px
    bottom: -8px
    box-sizing: border-box
    content: ''
    height: 7px
    left: -20px
    position: absolute
    right: -20px
  .tile
    animation: 0.4s fadeIn
    backface-visibility: hidden
    position: absolute
    z-index: 10
    &.dragging
      transition: none
      z-index: 11
.opponent-rack
  margin-bottom: 0
  margin-top: -30px
  &:before
    display: none
#rack .tile
  cursor: pointer
  &:hover
    background-color: lighten(color-tile, 70%)
    z-index: 11
.game-message
  animation: bounceInFadeOut 2.25s forwards
  font-size: font-size-full-screen-message
  font-weight: 800
  left: 0
  line-height: 1.2
  margin-top: font-size-full-screen-message * @line-height * -0.5 - 10px
  pointer-events: none
  position: absolute
  text-align: center
  text-shadow: 0 0 6px black, 0 10px 10px black
  top: 50%
  width: 100%
  //will-change: transform
  z-index: 30
  span
    color: white
    display: inline-block
    border-radius: 0.4em
    padding: 10px 0.4em
#remaining
  background: desaturate(color-tile, 20%)
  bottom: 56px
  box-shadow: inset 0 0 0 1px hsl(39, 0%, 54%)
  color: #444
  font-size: font-size-small
  font-weight: 800
  height: 30px
  line-height: 30px
  pointer-events: none
  position: fixed
  text-align: center
  text-shadow: 0 0 1px white
  text-transform: uppercase
  width: 60px
  z-index: 21
#remaining-number
  margin-right: 0.1em
#remaining-text
  display: none
.unit-frame
  align-items: center
  background: color-ui-0
  box-shadow: inset 0 0 0 1px rgba(255,255,255,0.05)
  display: flex
  font-size: font-size-large
  flex: 0 0 auto
  left: 0
  line-height: 30px
  margin: 0
  pointer-events: none
  position: relative
  transition: background-color 0.2s
  width: 100%
  z-index: 20
  > *
    flex: 0 0 auto
  .main
    display: flex
    flex: 1 1 auto
    padding: 0 20px
  .name
    flex: 1 1 auto
    overflow: hidden
    text-overflow: ellipsis
    white-space: nowrap
  .score
    font-weight: 600
    margin: 0
    position: relative
    text-align: right
  .delta
    animation: fadeOut 2s 2s forwards
    background-color: color-accent-three
    border-radius: 2px
    color: #333
    flex: 0 1 auto
    font-weight: 600
    line-height: 24px
    margin-top: 3px
    padding: 0 10px
    position: absolute
    right: 60px
    top: 0
    text-align: center
    &.negative
      background-color: darken(color-accent-two, 25%)
      color: color-text
    &.preliminary
      animation: none
      background-color: rgba(255,255,255,0.1)
      color: color-secondary-text
  .status
    background-color: darken(color-accent-two, 25%)
    padding: 0 20px
  &.active
    background-color: hsl(219, 60%, 50%)
.unit-frame-picture
  background-color: #eee
  background-position: 50% 50%
  background-size: 100% auto
  border-radius: 100%
  box-shadow: 0 0 1px black
  color: #222
  font-size: 30px
  height: 60px
  line-height: 60px
  margin: -15px -10px -15px 10px
  text-align: center
  width: 60px
#player
  border-bottom: none
  .unit-frame-picture
    display: none
#player-main
  padding-left: 80px
#opponent-status
  roundedCorners()
  font-size: font-size-small
  line-height: 20px
  padding: 0 10px
  position: fixed
  right: 10px
  top: 35px
#opponent-chat
  left: 70px
  pointer-events: none
  position: fixed
  right: 10px
  top: 35px
  z-index: 20
  &.fadeOut
    animation: fadeOut 2s forwards
.opponent-chat-bubble
  animation: zoomIn 0.4s
  font-size: font-size-small
  margin-bottom: 5px
  span
    roundedCorners()
    background: rgba(32,32,32,0.8)
    box-shadow: inset 0 0 0 1px rgba(255,255,255,0.05)
    display: inline-block
    padding: 5px 10px

#chat
  animation: zoomIn 0.4s
  background: color-ui-0
  border: 1px solid rgba(255,255,255,0.05)
  bottom: 0
  display: flex
  flex: 0 0 auto
  flex-direction: column
  left: 0
  margin: 5px
  position: fixed
  right: 0
  top: 0
  z-index: 42
#chat-overlay
  background: rgba(0,0,0,0.5)
  bottom: 0
  display: flex
  left: 0
  position: fixed
  right: 0
  top: 0
  z-index: 41
.chat-section
  flex: 0 0 auto
  padding: 0 10px
  &:last-child
    border-bottom: none
#chat-header
  background: hsla(hue, 8%, 32%, 0.8)
  display: flex
  padding: 0
  justify-content: flex-end
#chat-form
  display: flex
  margin: 0
  padding: 10px
#chat-form-input
  flex: 1 1 auto
  padding: 0 10px
#chat-messages-wrapper
  flex: 1 1 auto
  margin: 10px
  margin-bottom: 0
  position: relative
  user-select: initial
#chat-messages
  bottom: 0
  left: 0
  overflow: hidden
  overflow-y: auto
  padding: 10px
  padding-bottom: 0
  position: absolute
  right: 0
  top: 0
  a
    font-weight: 600
  p
    color: color-secondary-text
    cursor: text
  b
    color: color-text
    display: block
    font-weight: 600
  .result
    background: rgba(255,255,255,0.1)
    color: color-text
    font-weight: 600
    position: relative
    text-align: center
    z-index: 0
  .end
    color: color-text
    font-weight: 600
#opponent
  order: 1
#canvas
  order: 2
#player
  order: 3

/* Cursor
-------------------------------------------------- */
cursor-color = #f0f0f0

.cursor
  background-color: hsla(16, 100%, 50%, 0.5)
  background-image: radial-gradient(circle at 50% 0, rgba(255,255,255,0.1), transparent 100%)
  box-shadow: 0 0 0 1px hsla(16, 100%, 20%, 0.5)
  height: 2em
  pointer-events: none
  position: absolute
  transform: translateX(0) translateY(0)
  transition: transform 0.2s, left 0.2s, top 0.2s
  width: 2em
  will-change: transform //, left, top
  z-index: 12
  .cursor-angle
    background-image: url('../images/cursor.svg')
    background-size: 50%
    background-position: 50%
    background-repeat: no-repeat
    height: 100%
    left: 0
    position: absolute
    top: 0
    transform: scale(1.25)
    transition: opacity 0.3s, transform 0.3s
    width: 100%
    will-change: opacity, transform
  &.vertical
    .cursor-angle
      transform: rotateZ(90deg) scale(1.25)
  &.subtle
    .cursor-angle
      opacity: 0

/* Other Stuff
-------------------------------------------------- */
.word-list
  display: flex
  flex-wrap: wrap
  list-style-type: none
  margin: 0
  margin-bottom: 10px
  margin-right: -10px
  padding: 0
  li
    display: flex
    margin: 0
    margin-bottom: 10px
    margin-right: 10px
  .tile
    line-height: 2
    &:first-child
      margin-right: 1px

#rotate-screen
  align-items: center
  background: color-ui-0
  display: none
  font-size: font-size-large
  left: 0
  bottom: 0
  justify-content: center  
  position: absolute
  right: 0
  top: 0
  text-align: center
  z-index: 40
  i
    font-size: font-size-huge
    margin-bottom: 1.5rem

/* Options Window
-------------------------------------------------- */
#options
  min-width: 280px
  .window-content
    user-select: none
  form
    margin-left: -6px
    margin-right: -6px
  input[type='checkbox']
    margin-left: 6px
    width: 1em
    height: 1em
    margin-right: 4px
  label
    margin: 0
    margin-left: 6px
  select
    height: auto
    overflow: hidden
    padding: 6px
    resize: none
  ul
    list-style-type: none
    margin: 0
    margin-bottom: 20px
    padding: 0
    &:last-child
      margin-bottom: 0
  li
    margin-bottom: 10px
    &:last-child
      margin-bottom: 0
.options-row
  align-items: center
  display: flex
  
    

/* About Window
-------------------------------------------------- */
#about
  max-width: 800px
    
/* Feedback Window
-------------------------------------------------- */
#feedback-success
  margin-top: 15px
  font-weight: 600
  color: #0f0

/* Leaderboard Window
-------------------------------------------------- */
#leaderboard-header
  display: flex
  flex-wrap: wrap
  justify-content: space-between
  margin-bottom: 20px
  ul
    margin-right: 20px
    &:last-child
      margin-right: 0
  button:disabled
    color: #666
#leaderboard
  flex: 1 1 auto
  width: 100%
  table
    margin: 0
    margin-bottom: 20px
    table-layout: fixed
    width: 100%
  th
    color: color-secondary-text
    font-size: font-size-small
    font-weight: 400
    text-align: left
    text-transform: uppercase
  th, td
    overflow: hidden
    padding: 0
    padding-right: 5px
    text-overflow: ellipsis
    white-space: nowrap
    &:last-child
      padding: 0
  tr
    animation: fadeIn 0.2s
  .window-content
    overflow-y: scroll
  .leaderboard-words
    th, td
      &:nth-child(1)
      &:nth-child(4)
        width: 15%
      &:nth-child(2)
      &:nth-child(3)
        width: 35%
  .leaderboard-games
    th, td
      width: 15%
      &:nth-child(2)
        width: 70%

/* Two-Letter-Words Window
-------------------------------------------------- */
#two-letter-words
  max-width: 662px
  .window-content
    cursor: default
    user-select: none

/* Challenges Window
-------------------------------------------------- */
#challenges
  max-width: 480px

/* Keyboard Window
-------------------------------------------------- */
#keyboard
  table
    margin-bottom: 10px
  tr
    border: none
  th, td
    padding: 0 20px 10px 0
  td:first-child
    white-space: nowrap
  td:last-child
    padding-right: 0
  kbd
    background: color-tile
    border: none
    box-shadow: 0 0 0 1px hsl(39, 0%, 54%)
    box-sizing: border-box
    color: #444
    display: inline-block
    font-family: inherit
    font-size: font-size-small
    font-weight: 800
    line-height: 20px
    margin: 0
    min-width: 30px
    padding: 5px 10px
    text-align: center
    &:last-child
      margin-right: 0
  .window-content
    cursor: default
    user-select: none

/* Challenges Window
-------------------------------------------------- */
.challenges-client
  align-items: center
  display: flex
  &.disabled
    .challenges-client-name
      text-decoration: line-through
.challenges-client-name
  flex: 1 1 auto
  font-size: font-size-large
.challenges-client-status
  flex: 1 1 auto
.challenges-client-buttons
  display: flex
  flex: 0 0 auto

/* Players Window
-------------------------------------------------- */
.players-client
  align-items: center
  display: flex
.players-client-name
  flex: 1 1 auto
  font-size: font-size-large
.players-client-status
  flex: 1 1 auto
.players-client-buttons
  flex: 0 0 auto


/* Pass Dialog
-------------------------------------------------- */
#pass-dialog
  .window-content
    cursor: default
    user-select: none
  p
    text-align: center
  .tiles
    font-size: 20px
    height: 40px
    margin: 0 auto
    margin-bottom: 20px
    position: relative
    width: calc(14em + 8px)
  .tile
    cursor: pointer
    position: absolute
    &:before
      roundedCorners()
      background-color: transparent
      transition: background-color 0.1s
      bottom: -8px
      content: ''
      cursor: default
      height: 5px
      left: 0
      pointer-events: none
      position: absolute
      right: 1px
      top: auto
    &:focus
      background-color: lighten(color-tile, 40%)
    &:hover
      background-color: lighten(color-tile, 60%)
    &.selected:before
      background-color: color-accent-three
  .window-button-group
    display: flex
    .button
      flex: 1 1 auto
      &:last-child
        margin-right: 0

/* Themes
-------------------------------------------------- */
color-wood = #25201E

.theme-wood
  #start
  #lobby
  #table
    background-color: hsl(23, 43%, 16%)
    background-image: url('../images/themes/wood/background.png')
    background-position: 50% 50%
    background-size: cover
  .board
    background-image: hsl(22, 46%, 31%)
    background: linear-gradient(rgba(0,0,0,0.3), transparent, rgba(0,0,0,0.3)), url('../images/themes/wood/wood.png')
    background-size: auto, 194px 251px
    box-shadow: 0 4px 12px rgba(0,0,0,0.48), inset 0 0 0.2em rgba(0,0,0,0.5)
  #rack
    &:before
      background-color: hsl(22, 46%, 31%)
      background: linear-gradient(rgba(0,0,0,0.3), transparent, rgba(0,0,0,0.3)), url('../images/themes/wood/wood.png')
      background-size: 194px 251px
      box-shadow: inset 0 0 10px rgba(0,0,0,0.5)
  .window
  #chat
    background-image: hsl(22, 46%, 31%)
    background: linear-gradient(rgba(0,0,0,0.3), transparent, rgba(0,0,0,0.3)), url('../images/themes/wood/wood.png')
    background-size: auto, 194px 251px
    box-shadow: 0 4px 12px rgba(0,0,0,0.24), inset 0 0 4px rgba(0,0,0,0.5)
  #chat-messages
    background: #1c1e21
    box-shadow: inset 0 2px 6px rgba(0,0,0,0.24)
  .window-content
    background: #1c1e21
    margin: 10px
    margin-top: 0
  .window-header
    background: none
  .button, .window-close
    background-color: hsl(39, 66%, 74%)
    background-image: linear-gradient(transparent, rgba(0,0,0,0.48))
    color: #333
    &:focus
      background-color: tint(@background-color, 6%)
    &:hover
      background-color: tint(@background-color, 12%)
    &:active
      background-image: linear-gradient(rgba(0,0,0,0.48), transparent)
  .window-close
    border-bottom-left-radius: 2px
    border-bottom-right-radius: 2px
    height: 25px
    line-height: 25px
    margin-right: 10px
  .button-primary
    background-color: color-accent
    color: white
    &:focus
      background-color: tint(@background-color, 6%)
    &:hover
      background-color: tint(@background-color, 12%)
  #menu
    width: 260px
    .window-content
      margin-top: 10px
    i.fa.fa-external-link
      color: inherit
  #options .window-content
    margin: 0
    background: none
  input[type='email']
  input[type='number']
  input[type='search']
  input[type='text']
  input[type='tel']
  input[type='url']
  input[type='password']
  textarea
  select
    background-color: #1c1e21
    box-shadow: inset 0 2px 6px rgba(0,0,0,0.24)
  #more.updated
    color: #fff
  #chat-header
    background: none
  #two-letter-words
    max-width: 682px

.theme-glass
  .page
    background-color:  hsl(219, 40%, 25%)
  #lobby
    //background: #273349
    //background-image: linear-gradient(0deg, #614660, transparent 100%)  
    background: hsl(219, 40%, 25%)
    background-image: linear-gradient(0deg, hsl(302, 20%, 45%) -20%, transparent 100%)
  #table
    //background: radial-gradient(at 0% 50%, #614660, transparent 50%), radial-gradient(at 100% 50%, #614660, transparent 50%), radial-gradient(circle closest-corner at 50% 0, #5974a6, transparent 50%), radial-gradient(circle closest-corner at 50% 50%, rgba(89,116,166,0.5), transparent), linear-gradient(225deg, hsla(219,30%,15%,1), #000)
    background: radial-gradient(at 0% 50%, hsl(302, 20%, 33%), transparent 50%), radial-gradient(at 100% 50%, hsl(302, 20%, 33%), transparent 50%), radial-gradient(circle closest-corner at 50% 0, hsl(219, 35%, 55%), transparent 50%), radial-gradient(circle closest-corner at 50% 50%, hsla(219, 30%, 50%, 0.5), transparent), linear-gradient(225deg, hsla(219,30%,15%,1), #000 110%)
  .board
    background: rgba(192,192,192,0.3)
    box-shadow: 0 4px 12px rgba(0,0,0,0.48)
    border-radius: 2px

/* Media Queries
-------------------------------------------------- */

@media (min-width: 360px)
  #pass-dialog .tiles
    border-radius: 4px
    margin-left: 0
    margin-right: 0

/* Larger than mobile */
@media (min-width: 400px) {}

/* Larger than phablet */
@media (min-width: 550px) {}

/* Larger than tablet */
@media (min-width: 750px)
  #start-logo
    h1
      font-size: 48px
  #start-icon
    margin-right: 30px
    img
      height: 120px
      width: 120px
  .square
    //background-image: radial-gradient(rgba(0,0,0,0.08),transparent 50%)
  .lobby-clients
    display: flex
    margin: 0 auto
    margin-bottom: 60px
    width: 640px
  .lobby-client
    margin: 0
    margin-right: 20px
    margin-bottom: 20px

/* Larger than desktop */
@media (min-width: 1000px)
  #main
    flex-direction: row
  #lobby
    h1
      font-size: font-size-full-screen-message
      line-height: 40px
      margin-top: 60px
      margin-bottom: 60px
  .lobby-clients
    padding-left: 20px

  #chat-overlay
    display: none
    z-index: auto
  #chat
    animation: none
    background-color: rgba(23, 23, 23, 0.5)
    background-color: color-ui-0
    border: none
    border-left: 1px solid rgba(255,255,255,0.05)
    border-radius: 0
    box-shadow: 0 4px 12px rgba(0,0,0,0.24)
    display: flex !important
    margin: 0
    padding-top: 50px
    position: static
    width: 300px
    z-index: 0
    &.collapsed
      transform: none
  #chat-header
    .window-close
      display: none
  #overlay
    animation: fadeIn 0.4s
    padding: 20px 0
  .window-group
    display: flex
    .window
      margin: 0 10px
  .lobby-clients
    width: 960px
  #game
    flex-direction: row
  .rack
    margin-bottom: 8px
  .opponent-rack
    margin-top: 22px*-1
  #more
    display: none
  .unit-frame
    background: none
    border: none
    box-shadow: none
    font-size: font-size-normal
    left: desktop-unit-frame-margin-horizontal
    line-height: desktop-unit-frame-line-height
    position: absolute
    width: auto
    .main
      raise(2)
      background: hsla(hue, 10%, 25%, 0.5)
      border-radius: 2px
      margin-left: desktop-unit-frame-picture-size - 15px
      padding: 0
      padding-left: 10px
      transition: background 0.2s
    .name
      flex: 0 1 auto
      max-width: 120px
      padding: 0 15px 0 (10px + desktop-unit-frame-picture-size * 0.5)
      padding: 0
      padding: 0 15px
    .score
      background: rgba(255,255,255,0.06)
      margin: 0
      padding: 0
      text-align: center
      width: 50px
    .delta, .status
      raise(2)
      border-radius: 2px
      line-height: desktop-unit-frame-line-height
      margin: 0
      margin-left: 10px
      padding: 0 10px
      position: static
      text-align: center
    .delta
      animation: shiftLeft 0.5s 2.5s forwards
      padding: 0
      width: 45px
      &.preliminary
        background: rgba(96,96,96,0.5)
        color: color-secodary-text
    &.active
      background: none
      .main
        background: hsla(hue, 60%, 30%, 1)

  .unit-frame-picture
    raise(3)
    border-radius: 100%
    font-size: desktop-unit-frame-picture-size * 0.5
    height: desktop-unit-frame-picture-size
    left: 0
    line-height: desktop-unit-frame-picture-size
    margin: 0
    margin-top: desktop-unit-frame-picture-size * -0.5
    position: absolute
    top: 50%
    width: desktop-unit-frame-picture-size
  #player
    bottom: desktop-unit-frame-margin-vertical
    .unit-frame-picture
      display: block
  #player-main
    padding-left: 10px
  #player-name
    display: none
  #opponent
    top: desktop-unit-frame-margin-vertical
  #opponent-status
    font-size: inherit
    line-height: inherit
    padding: 0 20px
    position: static
    right: auto
    top: auto
  #remaining
    background: none
    box-shadow: none
    color: color-text
    font-weight: 600
    line-height: tile-size
    position: absolute
    right: 20px
    text-align: left
    text-shadow: 0 0 1px black
    top: 10px
    width: auto
    z-index: 20
  #remaining-text
    display: inline
  #remaining-text-mobile
    display: none
  #app-bar
    background: none
    border: none
    box-shadow: none
    padding: 10px 5px
    position: fixed
    right: 0
    top: 0
    width: auto
    z-index: 20
    .button
      margin: 2px 5px
  #app-bar-lobby
    display: none
  #app-bar-game
    bottom: 10px
    display: block
    overflow: visible
    position: fixed
    right: 315px
    .button
      height: auto
      line-height: 40px
      margin: 0 5px
  #app-bar-common
    display: flex
    flex-direction: row-reverse
  #menu
    width: 280px
  #menu-key-bindings
    display: block
  #opponent-chat
    display: none
  .options-mobile-only
    display: none

/* Larger than Desktop HD */
@media (min-width: 1200px)
  .app-bar
    padding: 0
    button
      padding: 0 20px

@media (min-width: 1200px)
  #chat
    width: 360px
  #app-bar-game
    right: 375px
  #player-name
    display: block

@media (max-height: 400px)
  #rotate-screen
    display: flex
    